<template lang="html">
  <main class="blog-post">
    <div class="post-wrapper">
      <header>
        <div v-if="hero.type === 'video' || (hero.type === 'image' && hero.src)" class="hero-wrapper">
          <g-image v-if="hero.type === 'image' && hero.src" :alt="hero.alt" :src="hero.src" :title="hero.title" />
          <StadlerYoutubeEmbed v-if="hero.type === 'video'" :id="hero.src" :lang="lang" :thumbnail="hero.thumbnail" />
        </div>
        <span class="date">{{cleanDate}}</span>
        <h1>{{post.name}}</h1>
        <div class="meta">
          <ul v-if="post.authors && post.authors.length" class="author">
            <li v-for="author in post.authors" :key="author.id">
              <g-image v-if="author.image && author.image.src" :alt="author.image.alt" :src="author.image.src" />
              <FontAwesomeIcon v-else class="icon" :icon="icons.user" />
              <span>{{author.name}}</span>
            </li>
          </ul>
          <FontAwesomeIcon class="icon" :icon="icons.folder" />
          <span>{{cleanCategories}}</span>
        </div>
      </header>
      <article v-html="post.content" />
    </div>
    <section v-if="post.contact" class="contact">
      <h2 class="h3">{{topicContact}}</h2>
      <div class="contact-person">
        <g-image v-if="post.contact.image && post.contact.image.src" :alt="post.contact.image.alt" :src="post.contact.image.src" />
        <div v-else class="image-placeholder">
          <ETLineIcon>profile-male</ETLineIcon>
        </div>
        <div class="right">
          <p>{{post.contact.name}}</p>
          <p v-if="post.contact.email">E-Mail: <a :href="`mailto:${post.contact.email}`">{{post.contact.email}}</a></p>
        </div>
      </div>
    </section>
    <div v-if="relatedPosts" class="related-posts">
      <h2>{{moreAbout}} {{relatedPosts.label}}</h2>
      <StadlerBlogroll :lang="lang" :posts="relatedPosts.posts" :preview="preview" slim />
    </div>
  </main>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faFolderOpen as folder, faUser as user } from '@fortawesome/free-solid-svg-icons';

import flattenLocalizedProperties, { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

import { moreAbout, topicContact } from '@/data/commonStrings.json';

import ETLineIcon from '@/components/ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
    FontAwesomeIcon,
  },
  computed: {
    cleanCategories() {
      if (this.preview) return this.post.categories.join(', ');
      return this.post.categories.map((category) => category.label).join(', ');
    },
    cleanDate() {
      if (this.preview) {
        const parsed = new Date(this.post.date);
        return parsed.toLocaleString(this.previewData.post.language, {
          weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
        });
      }
      return this.post.date;
    },
    hero() {
      return this.page.post.heroVideo ? { type: 'video', src: this.page.post.heroVideo, thumbnail: { ...this.page.post.heroImage } } : { type: 'image', ...this.page.post.heroImage };
    },
    lang() {
      return (this.previewData.post && this.previewData.post.language) || this.$context.lang;
    },
    moreAbout() {
      return flattenLanguageProperties(moreAbout, this.lang);
    },
    page() {
      return this.$page || this.previewData;
    },
    post() {
      return flattenLocalizedProperties(this.page.post);
    },
    relatedPosts() {
      let related = null;
      if (this.preview) return { label: this.post.categories[0], posts: [] };
      for (let i = 0; i < this.post.categories.length; i += 1) {
        const edges = this.post.categories[i].belongsTo.edges.filter((edge) => edge.node.language === this.lang);
        if (edges.length > 0) {
          related = {
            label: this.post.categories[i].label,
            posts: edges.map((edge) => edge.node).filter((post) => post.rawDate && new Date(post.rawDate).valueOf() < Date.now()).slice(0, 3),
          };
          break;
        }
      }
      return related;
    },
    topicContact() {
      return flattenLanguageProperties(topicContact, this.lang);
    },
  },
  data() {
    return {
      icons: {
        folder,
        user,
      },
    };
  },
  props: {
    preview: Boolean,
    previewData: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<page-query>
query($id: ID!, $lang: String) {
  post: blogNode(id: $id) {
    authors {
      name { localizedString(lang: $lang) }
      image {
        alt { localizedString(lang: $lang) }
        src(width: 64, height: 64)
        title { localizedString(lang: $lang) }
      }
    }
    categories {
      label { localizedString(lang: $lang) },
      belongsTo(limit: 9, filter: {id: {ne: $id}, typeName: { eq: BlogNode }}) { # we need to increase the limit here because there’s no way to filter out just the ones in $lang
        edges {
          node {
            ... on BlogNode {
              language,
              name,
              authors {
                name { localizedString(lang: $lang) }
                image {
                  alt { localizedString(lang: $lang) }
                  src(width: 64, height: 64)
                  title { localizedString(lang: $lang) }
                }
              }
              teaser,
              excerpt(length: 250),
              path,
              date(format: "Do-MMM-YYYY", locale: $lang),
              rawDate: date,
              heroImage {
                alt { localizedString(lang: $lang) }
                src(width: 744, height: 446)
                title { localizedString(lang: $lang) }
              }
              heroVideo
            }
          }
        }
      }
    },
    content,
    date(format: "dddd, Do MMMM YYYY", locale: $lang),
    name,
    timeToRead,
    authors {
      name { localizedString(lang: $lang) }
    }
    heroImage {
      alt { localizedString(lang: $lang) }
      src(width: 744)
      title { localizedString(lang: $lang) }
    }
    heroVideo
    contact {
      name { localizedString(lang: $lang) }
      image {
        alt { localizedString(lang: $lang) }
        src(width: 128, height: 128)
        title { localizedString(lang: $lang) }
      }
      email
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.blog-post
  .post-wrapper
    margin: 6rem auto
    max-width: $maxWidth

    @media $mobile
      margin-top: 1rem
      padding: 0 1rem

    header
      width: $maxTextWidth
      max-width: calc(100vw - 2rem)
      margin-left: auto
      margin-right: auto
      margin-bottom: 4rem
      text-align: center

      @media $mobile
        margin-bottom: 2rem

      .hero-wrapper
        width: 100%
        margin-bottom: 4rem

        @media $mobile
          margin-bottom: 2rem

        img,
        noscript >>> img
          display: block
          max-width: 100%
          margin-left: auto
          margin-right: auto

      .date
        color: $textHover

      h1
        margin-bottom: 1rem
        margin-top: 0.5rem

      .meta
        display: flex
        align-items: center
        white-space: nowrap
        justify-content: center

        .author
          display: flex
          align-items: center
          text-transform: capitalize
          list-style: none
          margin: 0
          padding: 0

          li
            display: flex
            align-items: center

            &:not(:last-child)
              margin-right: (16 / 16)rem

          img,
          noscript >>> img
            width: 2rem
            height: @width
            border-radius: 50%
            margin-right: 0.5rem

          .icon
            margin-left: 0

        .icon
          margin-left: 1rem
          margin-right: 0.5rem
          color: $textLighter

        > span
          overflow: hidden
          text-overflow: ellipsis

    article
      max-width: $maxTextWidth
      margin: 0 auto

      >>> h2
        margin-top: 4rem

      >>> h3
        margin-top: 2em

      >>> code
        white-space: normal

      >>> p img
        max-width: 100%
        display: block
        margin-left: auto
        margin-right: auto

  .contact
    padding: 2rem
    background-color: $greyLighter
    max-width: $maxTextWidth
    margin-left: auto
    margin-right: auto
    margin-bottom: 6rem

    h2
      text-align: center
      margin-bottom: 2rem

    .contact-person
      display: flex
      align-items: center
      justify-content: center

      @media $mobile
        flex-direction: column

      img,
      noscript >>> img,
      .image-placeholder
        display: block
        border-radius: 50%
        width: 6rem
        height: @width
        margin-right: 2rem

        @media $mobile
          margin-right: 0
          margin-bottom: 1rem

      .image-placeholder
        background-color: lighten($greyLighter, 5)
        color: alpha($text, 0.5)
        display: flex
        align-items: center
        justify-content: center

      .right
        p
          margin: 0

          &:first-child
            font-weight: 600
            margin-bottom: 0.5rem
            text-transform: capitalize

  .related-posts
    padding: 6rem 1rem
    background-color: $text
    color: white

    h2
      text-align: center
      max-width: $maxTextWidth
      margin-left: auto
      margin-right: auto

    .blogroll.block
      margin-left: auto
      margin-right: auto

      @media $mobile
        margin-left: -1rem
        margin-right: @margin-left
</style>
