<template lang="html">
  <main class="blog-category">
    <StadlerPageTitle :breadcrumb="localizedBreadcrumb" :lang="$context.lang" :heading="localizedTitle" />
    <StadlerBlogroll :active-category="$context.id" :categories="localizedCategories" :lang="$context.lang" :page-info="$page.posts.pageInfo" :posts="localizedBlogPosts" />
  </main>
</template>

<script>
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';
import generateHreflangLinks from '@/assets/js/generateHreflangLinks';
import generateMetaTags from '@/assets/js/generateMetaTags';
import flattenLocalizedProperties from '@/assets/js/flattenLocalizedProperties';

import { category as categoryTranslated, news as newsTranslated } from '@/data/commonStrings.json';

export default {
  computed: {
    localizedBreadcrumb() {
      if (this.$page.newsPage) return [{ label: this.$page.newsPage.name.localizedString, href: this.$page.newsPage.url.localizedString }];
      return [];
    },
    localizedBlogPosts() {
      if (!this.$page.posts || this.$page.posts.edges.length === 0) return [];
      return this.$page.posts.edges.map((edge) => flattenLocalizedProperties(edge.node)).filter((post) => post.rawDate && new Date(post.rawDate).valueOf() < Date.now());
    },
    localizedCategories() {
      if (!this.$page.categories || this.$page.categories.edges.length === 0) return [];
      return this.$page.categories.edges.map((edge) => flattenLocalizedProperties(edge.node));
    },
    localizedTitle() {
      return `${newsTranslated[this.$context.lang]} ${categoryTranslated[this.$context.lang]}: ${this.$page.data.label.localizedString}`;
    },
  },
  data() {
    return {
      categoryTranslated,
      newsTranslated,
    };
  },
  metaInfo() {
    const metaTags = generateMetaTags({ url: this.$page.data.url.localizedString }, this.$page.data.label.localizedString, this.$context.lang);
    const links = generateCanonicalLinks(this.$context.lang, null, this.$page.data.url.localizedString)
      .concat(generateHreflangLinks(this.$page.data.url.allLanguages));
    return {
      title: this.localizedTitle,
      link: links,
      meta: metaTags,
      htmlAttrs: {
        lang: this.$context.lang,
      },
    };
  },
};
</script>

<page-query>
query($id: ID!, $lang: String, $page: Int) {
  data: category(id: $id) {
    url { allLanguages, localizedString(lang: $lang) }, # This must remain here for the Nav-Component to work correctly
    label { localizedString(lang: $lang) }
  }
  posts: allBlogNode(filter: { categories: { id: { in: [$id] } }, language: { eq: $lang } }, perPage: 5, page: $page, sortBy: "date", order: DESC) @paginate {
    totalCount
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        ...on BlogNode {
          name,
          authors {
            name { localizedString(lang: $lang) }
            image {
              alt { localizedString(lang: $lang) }
              src(width: 64, height: 64)
              title { localizedString(lang: $lang) }
            }
          }
          teaser,
          excerpt(length: 500),
          path,
          date(format: "Do-MMM-YYYY", locale: $lang),
          rawDate: date,
          categories {
            label { localizedString(lang: $lang) }
          }
          heroImage {
            alt { localizedString(lang: $lang) }
            src(width: 744)
            title { localizedString(lang: $lang) }
          }
          heroVideo
        }
      }
    }
  }
  categories: allCategory {
    edges {
      node {
        id
        label { localizedString(lang: $lang) }
        url { localizedString(lang: $lang) }
      }
    }
  }
  newsPage: pageNode(id: "news") {
    name { localizedString(lang: $lang) }
    url { localizedString(lang: $lang) }
  }
}
</page-query>

<style lang="stylus" scoped>
.blog-category
  > .block
    margin-bottom: 6rem
</style>
