<template lang="html">
  <main class="blog-page">
    <template v-for="(block, index) in blocks">
      <StadlerPageTitle v-if="block.template === 'page-title'" :id="block.id" :breadcrumb="localizedBreadcrumb" :lang="$context.lang || $root.lang" :heading="!preview ? page.data.name.localizedString : page.data.name" :background-image="block.backgroundImage" :key="index" />
      <StadlerBlogroll v-else-if="block.template === 'blog-roll'" :categories="localizedCategories" :id="block.id" :key="index" :lang="$context.lang || $root.lang" :page-info="!preview ? page.blogPosts.pageInfo : undefined" :posts="localizedBlogPosts" :preview="preview" />
    </template>
  </main>
</template>

<script>
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';
import generateHreflangLinks from '@/assets/js/generateHreflangLinks';
import generateMetaTags from '@/assets/js/generateMetaTags';
import flattenLocalizedProperties from '@/assets/js/flattenLocalizedProperties';

export default {
  computed: {
    blocks() {
      const localizedBlocks = this.page.data.content.map((block) => flattenLocalizedProperties(block));
      return localizedBlocks;
    },
    localizedBreadcrumb() {
      if (!this.page.data.breadcrumb) return [];
      const localizedBreadcrumb = this.page.data.breadcrumb.map((segment) => flattenLocalizedProperties(segment));
      return localizedBreadcrumb;
    },
    localizedBlogPosts() {
      if (!this.page.blogPosts || this.page.blogPosts.edges.length === 0) return [];
      return this.page.blogPosts.edges.map((edge) => flattenLocalizedProperties(edge.node)).filter((post) => post.rawDate && new Date(post.rawDate).valueOf() < Date.now());
    },
    localizedCategories() {
      if (!this.page.categories || this.page.categories.edges.length === 0) return [];
      return this.page.categories.edges.map((edge) => flattenLocalizedProperties(edge.node));
    },
    page() {
      return this.$page || this.previewData;
    },
  },
  metaInfo() {
    if (this.preview) return {}; // no need for meta in previews
    const localizedMeta = flattenLocalizedProperties(this.$page.data.meta);
    const metaTags = generateMetaTags({ ...localizedMeta, url: this.$page.data.url.localizedString }, this.$page.data.name.localizedString, this.$context.lang);
    const links = generateCanonicalLinks(this.$context.lang, this.$page.data.meta.canonicalUrl && this.$page.data.meta.canonicalUrl.allLanguages, this.$page.data.url.localizedString)
      .concat(generateHreflangLinks(this.$page.data.url.allLanguages, this.$page.data.meta.canonicalUrl && this.$page.data.meta.canonicalUrl.allLanguages));
    return {
      title: this.$page.data.name.localizedString,
      link: links,
      meta: metaTags,
      htmlAttrs: {
        lang: this.$context.lang,
      },
    };
  },
  props: {
    preview: Boolean,
    previewData: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<page-query>
query($id: ID!, $lang: String, $queryBlogNodes: Boolean!, $page: Int) {
  data: pageNode(id: $id) {
    url { allLanguages, localizedString(lang: $lang) }, # This must remain here for the Nav-Component to work correctly
    name { localizedString(lang: $lang) },
    breadcrumb {
      label { localizedString(lang: $lang) },
      href { localizedString(lang: $lang) }
    }
    meta {
      description { localizedString(lang: $lang) },
      image {
        src,
        alt { localizedString(lang: $lang) }
      },
      cardStyle,
      keywords { localizedString(lang: $lang) }
      canonicalUrl { allLanguages, localizedString(lang: $lang) }
    }
    content {
      template,
      id,
      ...on PageTitleBlock {
        backgroundImage {
          src(width: 2600, height: 300),
          mobileSrc: src(width: 640)
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        }
      },
    }
  },
  blogPosts: allBlogNode(filter: { language: { eq: $lang } }, perPage: 5, page: $page, sortBy: "date", order: DESC) @include(if: $queryBlogNodes) @paginate {
    pageInfo {
      totalPages,
      currentPage
    }
    edges {
      node {
        name,
        authors {
          name { localizedString(lang: $lang) }
          image {
            alt { localizedString(lang: $lang) }
            src(width: 64, height: 64)
            title { localizedString(lang: $lang) }
          }
        }
        teaser,
        excerpt(length: 500),
        path,
        date(format: "Do-MMM-YYYY", locale: $lang),
        rawDate: date,
        categories {
          label { localizedString(lang: $lang) }
        }
        heroImage {
          alt { localizedString(lang: $lang) }
          src(width: 744)
          title { localizedString(lang: $lang) }
        }
        heroVideo
      }
    }
  }
  categories: allCategory {
    edges {
      node {
        id
        label { localizedString(lang: $lang) }
        url { localizedString(lang: $lang) }
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
.blog-page
  > .block
    margin-bottom: 6rem
</style>
