<template lang="html">
  <main class="default">
    <template v-for="(block, index) in blocks">
      <StadlerText v-if="block.template === 'text'" :id="block.id" :columns="block.columns" :heading="block.heading" :highlighted="block.highlighted" :key="index" />
      <StadlerColumns v-if="block.template === 'columns'" :id="block.id" :columns="block.columns" :key="index" />
      <StadlerLongformText v-if="block.template === 'long-text'" :id="block.id" :body="block.body" :heading="block.heading" :separators="block.useHeadingSeparators" :key="index" />
      <StadlerEmployeeList v-else-if="block.template === 'employee-list'" :id="block.id" :employees="block.employees" :heading="block.heading" :key="index" />
      <StadlerBucket v-else-if="block.template === 'bucket'" :id="block.id" :buckets="block.buckets" :key="index" />
      <StadlerTimeline v-else-if="block.template === 'timeline'" :id="block.id" :entries="block.entries" :heading="block.heading" :key="index" />
      <StadlerCustomerSlider v-else-if="block.template === 'customer-slider'" :id="block.id" :background-image="block.backgroundImage" :customers="block.customers" :key="index" />
      <StadlerValues v-else-if="block.template === 'values'" :id="block.id" :lang="$context.lang || $root.lang" :key="index" />
      <StadlerTabs v-else-if="block.template === 'tabs'" :id="block.id" :heading="block.heading" :separator="block.separator" :separator-background="block.separatorBackground" :tabs="block.tabs" :key="index" />
      <StadlerContact v-else-if="block.template === 'contact'" :id="block.id" :heading="block.heading" :address="block.address" :email="block.email" :phone="block.phone" :lang="$context.lang || $root.lang" :key="index" />
      <StadlerFullscreenSlider v-else-if="block.template === 'fullscreen-slider'" :id="block.id" :heading="block.heading" :subheading="block.subheading" :images="block.images" :ctas="block.ctas" :scroll-anchor="block.scrollAnchor" :key="index" />
      <StadlerServices v-else-if="block.template === 'services'" :id="block.id" :heading="block.heading" :lang="$context.lang || $root.lang" :text="block.text" :services-tagged="block.servicesTagged" :key="index" />
      <StadlerCtaSeparator v-else-if="block.template === 'cta-separator'" :id="block.id" :heading="block.heading" :text="block.text" :cta="block.cta" :image="block.image" :background-image="block.backgroundImage" :key="index" />
      <StadlerIconSeparator v-else-if="block.template === 'icon-separator'" :id="block.id" :icons="block.icons" :background-image="block.backgroundImage" :key="index" />
      <StadlerPageTitle v-else-if="block.template === 'page-title'" :id="block.id" :breadcrumb="localizedBreadcrumb" :lang="$context.lang || $root.lang" :heading="!preview ? page.data.name.localizedString : page.data.name" :background-image="block.backgroundImage" :key="index" />
      <StadlerOpenPositions v-else-if="block.template === 'open-positions'" :id="block.id" :lang="$context.lang || $root.lang" :images="block.images" :key="index" />
      <StadlerDownloadItems v-else-if="block.template === 'download-items'" :id="block.id" :lang="$context.lang || $root.lang" :key="index" />
      <StadlerSpecificDownloadItems v-else-if="block.template === 'specific-download-items'" :downloads="block.downloads" :heading="block.heading" :id="block.id" :lang="$context.lang || $root.lang" :preview="preview" :key="index" />
      <StadlerGallery v-else-if="block.template === 'gallery'" :id="block.id" :images="block.images" :key="index" />
      <StadlerRecovery v-else-if="block.template === 'recovery' && (preview || relatedPages.length > 0)" :id="block.id" :heading="block.heading" :preview="preview" :related-pages="relatedPages" :key="index" />
      <StadlerAccordeonBlock v-else-if="block.template === 'accordeon'" :heading="block.heading" :id="block.id" :items="block.items" :key="index" :red-accent="block.redAccent" />
      <StadlerSingleImage v-else-if="block.template === 'single-image'" :background-color="block.backgroundColor" :body="block.body" :heading="block.heading" :id="block.id" :image="block.image" :key="index" :light-text="block.lightText" :mobile-image="block.mobileImage" />
      <StadlerNumberedGrid v-else-if="block.template === 'numbered-grid'" :background-image="block.backgroundImage" :cells="block.cells" :heading="block.heading" :id="block.id" :key="index" />
      <StadlerFlipbook v-else-if="block.template === 'flipbook'" :heading="block.heading" :id="block.id" :key="index" :url="block.flipbookURL" />
      <StadlerRecentPosts v-else-if="block.template === 'recent-posts' && (localizedRecentPosts.length > 0 || preview)" :background-color="block.backgroundColor" :heading="block.heading" :id="block.id" :key="index" :lang="$context.lang || $root.lang" :posts="localizedRecentPosts" :preview="preview" />
      <StadlerTeamGallery v-else-if="block.template === 'team-gallery'" :heading="block.heading" :id="block.id" :key="index" :lang="$context.lang" />
      <StadlerForm v-else-if="block.template === 'form'" :key="index" v-bind="block" />
      <StadlerGltf v-else-if="block.template === 'gltf'" :background-color="block.backgroundColor" :body="block.body" :heading="block.heading" :id="block.id" :key="index" :light-text="block.lightText" :model-url="block.modelUrl" />
    </template>
  </main>
</template>

<script>
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';
import generateHreflangLinks from '@/assets/js/generateHreflangLinks';
import generateMetaTags from '@/assets/js/generateMetaTags';
import flattenLocalizedProperties from '@/assets/js/flattenLocalizedProperties';

export default {
  computed: {
    blocks() {
      if (!this.page.data.content) return [];
      const localizedBlocks = this.page.data.content.map((block) => flattenLocalizedProperties(block));
      return localizedBlocks;
    },
    localizedBreadcrumb() {
      if (!this.page.data.breadcrumb) return [];
      const localizedBreadcrumb = this.page.data.breadcrumb.map((segment) => flattenLocalizedProperties(segment));
      return localizedBreadcrumb;
    },
    localizedRecentPosts() {
      if (!this.page.recentBlogPosts || this.page.recentBlogPosts.edges.length === 0) return [];
      return this.page.recentBlogPosts.edges.map((edge) => flattenLocalizedProperties(edge.node));
    },
    page() {
      return this.$page || this.previewData;
    },
    relatedPages() {
      if (this.preview) return this.page.relatedPages;
      const filtered = this.page.relatedPages.edges.filter((edge) => edge.node.name.localizedString !== this.page.data.name.localizedString);
      return filtered.map((edge) => flattenLocalizedProperties(edge.node));
    },
  },
  metaInfo() {
    if (this.preview) return {}; // no need for meta in previews
    const localizedMeta = flattenLocalizedProperties(this.page.data.meta);
    const metaTags = generateMetaTags({ ...localizedMeta, url: this.page.data.url.localizedString }, this.page.data.name.localizedString, this.$context.lang);
    const links = generateCanonicalLinks(this.$context.lang, this.page.data.meta.canonicalUrl && this.page.data.meta.canonicalUrl.allLanguages, this.page.data.url.localizedString)
      .concat(generateHreflangLinks(this.page.data.url.allLanguages, this.page.data.meta.canonicalUrl && this.page.data.meta.canonicalUrl.allLanguages));
    return {
      title: this.page.data.name.localizedString,
      link: links,
      meta: metaTags,
      htmlAttrs: {
        lang: this.$context.lang,
      },
    };
  },
  props: {
    preview: Boolean,
    previewData: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<page-query>
query($id: ID!, $lang: String, $relatedPages: [String], $queryRecentBlogNodes: Boolean!, $recentBlogNodesCategories: [ID]) {
  data: pageNode(id: $id) {
    url { allLanguages, localizedString(lang: $lang) }, # This must remain here for the Nav-Component to work correctly
    name { localizedString(lang: $lang) },
    breadcrumb {
      label { localizedString(lang: $lang) },
      href { localizedString(lang: $lang) }
    }
    meta {
      description { localizedString(lang: $lang) },
      image {
        src(width: 1200, height: 630),
        alt { localizedString(lang: $lang) }
      },
      cardStyle,
      keywords { localizedString(lang: $lang) }
      canonicalUrl { allLanguages, localizedString(lang: $lang) }
    }
    content {
      template,
      id,
      ...on TextBlock {
        heading { localizedString(lang: $lang) },
        columns { localizedString(lang: $lang) },
        highlighted
      },
      ...on LongformTextBlock {
        heading { localizedString(lang: $lang) },
        body { localizedString(lang: $lang) },
        useHeadingSeparators
      }
      ...on EmployeeListBlock {
        employees {
          email,
          greeting { localizedString(lang: $lang) },
          message { localizedString(lang: $lang) },
          name { localizedString(lang: $lang) },
          role { localizedString(lang: $lang) },
          image {
            wideSrc: src(width: 1120, height: 240),
            largeSrc: src(width: 560, height: 680, quality: 90),
            mediumSrc: src(width: 368, height: 447),
            smallSrc: src(width: 272, height: 330),
            alt { localizedString(lang: $lang) }
          }
        },
        heading { localizedString(lang: $lang) }
      },
      ...on BucketBlock {
        buckets {
          heading { localizedString(lang: $lang), },
          body { localizedString(lang: $lang), },
          icon
        }
      },
      ...on TimelineBlock {
        heading { localizedString(lang: $lang) },
        entries {
          heading { localizedString(lang: $lang) },
          milestones { localizedString(lang: $lang) }
        }
      },
      ...on CustomerSliderBlock {
        backgroundImage {
          src,
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        },
        customers,
      },
      ...on TabsBlock {
        heading { localizedString(lang: $lang) },
        separator,
        tabs {
          icon,
          label { localizedString(lang: $lang) },
          columns { localizedString(lang: $lang) },
          separatorBackground {
            src,
            title { localizedString(lang: $lang) },
            alt { localizedString(lang: $lang) },
          },
          separatorHeading { localizedString(lang: $lang) },
          separatorText { localizedString(lang: $lang) },
          separatorCTA {
            label { localizedString(lang: $lang) },
            href { localizedString(lang: $lang) },
            title { localizedString(lang: $lang) }
          }
        }
      },
      ...on ContactBlock {
        heading { localizedString(lang: $lang) },
        address,
        email,
        phone,
      },
      ...on FullscreenSliderBlock {
        heading { localizedString(lang: $lang) },
        subheading { localizedString(lang: $lang) },
        ctas {
          label { localizedString(lang: $lang) },
          href { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        }
        images {
          src,
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        }
        scrollAnchor
      },
      ...on ServicesBlock {
        heading { localizedString(lang: $lang) },
        text { localizedString(lang: $lang) },
        servicesTagged
      },
      ...on CtaSeparatorBlock {
        heading { localizedString(lang: $lang) },
        text { localizedString(lang: $lang) },
        cta {
          label { localizedString(lang: $lang) },
          href { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        },
        image {
          src,
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        },
        backgroundImage {
          src,
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        },
      },
      ...on IconSeparatorBlock {
        icons {
          icon,
          label { localizedString(lang: $lang) },
        },
        backgroundImage {
          src,
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        }
      },
      ...on PageTitleBlock {
        backgroundImage {
          src(width: 2600, height: 300),
          mobileSrc: src(width: 640)
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        }
      },
      ...on OpenPositionsBlock {
        images {
          src(width: 576, height: 576),
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) },
        }
      },
      ...on SpecificDownloadItemsBlock {
        heading { localizedString(lang: $lang) }
        downloads {
          name { localizedString(lang: $lang) },
          date(format: "DD. MMMM YYYY", locale: $lang),
          description { localizedString(lang: $lang) },
          file,
          thumbnail {
            alt { localizedString(lang: $lang) },
            src(height: 140, fit: inside),
            title { localizedString(lang: $lang) }
          },
          languages
        }
      }
      ...on GalleryBlock {
        images {
          src(width: 845, quality: 60),
          hdSrc: src(width: 1280, quality: 99),
          alt { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        },
      },
      ...on RecoveryBlock {
        heading { localizedString(lang: $lang) }
      },
      ...on AccordeonBlock {
        heading { localizedString(lang: $lang) },
        items {
          heading { localizedString(lang: $lang) },
          body { localizedString(lang: $lang) }
        },
        redAccent
      },
      ...on SingleImageBlock {
        heading { localizedString(lang: $lang) }
        body { localizedString(lang: $lang) }
        backgroundColor
        image {
          alt { localizedString(lang: $lang) }
          src(width: 1152)
          title { localizedString(lang: $lang) }
        }
        lightText
        mobileImage {
          alt { localizedString(lang: $lang) }
          src(width: 480)
          title { localizedString(lang: $lang) }
        }
      }
      ...on NumberedGridBlock {
        heading { localizedString(lang: $lang) }
        cells {
          heading { localizedString(lang: $lang) }
          body { localizedString(lang: $lang) }
        }
        backgroundImage {
          alt { localizedString(lang: $lang) }
          src(width: 2600)
          title { localizedString(lang: $lang) }
        }
      }
      ...on ColumnsBlock {
        columns {
          heading { localizedString(lang: $lang) }
          body { localizedString(lang: $lang) }
          image {
            alt { localizedString(lang: $lang) }
            wideSrc: src(width: 1152)
            midSrc: src(width: 544)
            narrowSrc: src(width: 352)
            title { localizedString(lang: $lang) }
          }
        }
      }
      ...on FlipbookBlock {
        heading { localizedString(lang: $lang) }
        flipbookURL
      }
      ...on RecentPostsBlock {
        heading { localizedString(lang: $lang) }
        backgroundColor
      }
      ...on TeamGalleryBlock {
        heading { localizedString(lang: $lang) }
      }
      ...on GltfBlock {
        heading { localizedString(lang: $lang) }
        body { localizedString(lang: $lang) }
        backgroundColor
        lightText
        modelUrl
      }
      ...on FormBlock {
        heading { localizedString(lang: $lang) }
        body { localizedString(lang: $lang) }
        cta {
          label { localizedString(lang: $lang) },
          href { localizedString(lang: $lang) },
          title { localizedString(lang: $lang) }
        }
        highlight { localizedString(lang: $lang) }
        formId
        submitButtonLabel { localizedString(lang: $lang) }
      }
    }
  },
  relatedPages: allPageNode(filter: { tags: { contains: $relatedPages } }, sort: [{ by: "menuIndex", order: ASC }, { by: "name", order: DESC }]) {
    edges {
      node {
        url { localizedString(lang: $lang) },
        name { localizedString(lang: $lang) }
      }
    }
  },
  recentBlogPosts: allBlogNode(filter: { language: { eq: $lang }, categories: { id: { in: $recentBlogNodesCategories } } }, limit: 3, sortBy: "date", order: DESC) @include(if: $queryRecentBlogNodes) {
    edges {
      node {
        language,
        name,
        authors {
          name { localizedString(lang: $lang) }
          image {
            alt { localizedString(lang: $lang) }
            src(width: 64, height: 64)
            title { localizedString(lang: $lang) }
          }
        }
        teaser,
        excerpt(length: 250),
        path,
        date(format: "Do-MMM-YYYY", locale: $lang),
        heroImage {
          alt { localizedString(lang: $lang) }
          src(width: 744)
          title { localizedString(lang: $lang) }
        }
        heroVideo
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
.default
  > .block
    margin-bottom: 6rem

    &.cta-separator:last-child,
    &.recovery:last-child,
    &.single-image.bg:last-child,
    &.numbered-grid.bg:last-child
    &.recent-posts.bg:last-child
      margin-bottom: 0

    &.cta-separator + .numbered-grid.bg,
    &.numbered-grid.bg + .cta-separator,
    &.numbered-grid.bg + .single-image.bg,
    &.single-image.bg + .numbered-grid.bg,
    &.recent-posts.bg + .cta-separator
      margin-top: -6rem

</style>
