<template lang="html">
  <main class="job-listing">
    <StadlerPageTitle :breadcrumb="localizedBreadcrumb" :lang="$context.lang" :heading="localizedTitle" />
    <StadlerLongformText :body="$page.data.body.localizedString" />
    <StadlerCtaSeparator :cta="cta" :heading="ctaHeading" />
  </main>
</template>

<script>
import generateCanonicalLinks from '@/assets/js/generateCanonicalLinks';
import generateHreflangLinks from '@/assets/js/generateHreflangLinks';
import generateMetaTags from '@/assets/js/generateMetaTags';
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

import { openPositionCtaHeading, openPositionCta } from '@/data/commonStrings.json';

export default {
  computed: {
    cta() {
      return flattenLanguageProperties(openPositionCta, this.$context.lang);
    },
    ctaHeading() {
      return flattenLanguageProperties(openPositionCtaHeading, this.$context.lang);
    },
    localizedBreadcrumb() {
      if (this.$page.careerPage) return [{ label: this.$page.careerPage.name.localizedString, href: this.$page.careerPage.url.localizedString }];
      return [];
    },
    localizedTitle() {
      return this.$page.data.name.localizedString;
    },
  },
  metaInfo() {
    const metaTags = generateMetaTags({ url: this.$page.data.url.localizedString }, this.localizedTitle, this.$context.lang);
    const links = generateCanonicalLinks(this.$context.lang, null, this.$page.data.url.localizedString)
      .concat(generateHreflangLinks(this.$page.data.url.allLanguages));
    return {
      title: this.localizedTitle,
      link: links,
      meta: metaTags,
      htmlAttrs: {
        lang: this.$context.lang,
      },
    };
  },
};
</script>

<page-query>
query($id: ID!, $lang: String) {
  data: openPosition(id: $id) {
    url { allLanguages, localizedString(lang: $lang) }, # This must remain here for the Nav-Component to work correctly
    name { localizedString(lang: $lang) }
    body { localizedString(lang: $lang) }
  }
  careerPage: pageNode(id: "career") {
    name { localizedString(lang: $lang) }
    url { localizedString(lang: $lang) }
  }
}
</page-query>

<style lang="stylus" scoped>
.job-listing
  > .block
    &:not(:last-child)
      margin-bottom: 6rem
</style>
