<template lang="html">
  <div class="preview-wrapper">
    <div v-if="loading" class="loading-state">
      <StadlerSpinner type="eased" />
      <p>Lade Vorschau…</p>
    </div>
    <Default v-else-if="data.___mb_schema === '/.mattrbld/schemas/page.json' && data.template === 'Default'" preview :preview-data="{ data, relatedPages: fakeRelatedPages }" />
    <BlogPage v-else-if="data.___mb_schema === '/.mattrbld/schemas/page.json' && data.template === 'BlogPage'" preview :preview-data="{ data }" />
    <BlogPost v-else-if="data.___mb_schema === '/.mattrbld/schemas/blog-post.json'" preview :preview-data="{ post: data }" />
    <StadlerEmployeeCard v-else-if="data.___mb_schema === '/.mattrbld/schemas/employee.json'" :alt="data.image && data.image.alt" :email="data.email" :greeting="data.greeting" :message="data.message" :name="data.name" :role="data.role" :src="data.image && data.image.src" />
    <StadlerDownloadItem v-else-if="data.___mb_schema === '/.mattrbld/schemas/download-item.json'" :date="data.date" :description="data.description" :filePath="data.file" :lang="previewLang" :name="data.name" :thumbnail="data.thumbnail" />
    <OpenPositionPreview v-else-if="data.___mb_schema === '/.mattrbld/schemas/open-position.json'" :data="data" />
    <StadlerBanner v-else-if="data.___mb_schema === '/.mattrbld/schemas/banner.json'" :body="data.body" :image="data.image" visible />
    <div v-else class="no-preview">
      <p>Leider ist für den Inhaltstyp <strong>{{data.___mb_schema && data.___mb_schema.split('/').slice(-1)[0].split('.')[0]}}</strong> keine Vorschau möglich.</p>
    </div>
    <div class="preview-banner">
      <ETLineIcon>caution</ETLineIcon>
      <div class="right">
        <p><strong>Das ist eine Vorschau.</strong> Links werden nicht funktionieren und vernetzte Daten aus anderen Dateien werden erst bei Veröffentlichung eingefügt. Die meisten Bilder sind nicht sichtbar, da sie im CMS noch nicht angzeigt werden können.</p>
        <ul v-if="contentLanguages && contentLanguages.length > 1" class="language-selector">
          <li>Zeige Inhalt in dieser Sprache:</li>
          <li v-for="lang in contentLanguages" :class="{ active: previewLang === lang }" :key="lang" @click="switchLanguage(lang)">{{lang}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { marked } from 'marked';
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

import ETLineIcon from '@/components/ETLineIcon.vue';
import BlogPage from '@/templates/BlogPage.vue';
import BlogPost from '@/templates/BlogPost.vue';
import Default from '@/templates/Default.vue';
import OpenPositionPreview from '@/components/OpenPositionPreview.vue';

const MATTRBLD_INSTANCE = 'https://app.mattrbld.com';

export default {
  beforeRouteLeave(to, from, next) {
    next(false); // prevent internal navigation
  },
  beforeDestroy() {
    if (typeof window === 'undefined') return; // like during build
    window.removeEventListener('message', this.handleMessage, false);
    window.removeEventListener('click', this.disableLinks, true);
  },
  components: {
    ETLineIcon,
    BlogPage,
    BlogPost,
    Default,
    OpenPositionPreview,
  },
  computed: {
    contentLanguages() {
      if (
        this.data.___mb_schema === '/.mattrbld/schemas/employee.json'
        || this.data.___mb_schema === '/.mattrbld/schemas/open-position.json'
        || this.data.___mb_schema === '/.mattrbld/schemas/banner.json'
      ) return ['de', 'en', 'ru'];
      return this.data.languages;
    },
    fakeRelatedPages() {
      return this.data.relatedPages;
    },
  },
  created() {
    if (typeof window === 'undefined') return; // like during build
    window.addEventListener('message', this.handleMessage, false);
    // beforeRouteLeave doesn’t handle external links, so we block them here too
    window.addEventListener('click', this.disableLinks, true);

    if (window.opener) window.opener.postMessage({ loaded: true }, MATTRBLD_INSTANCE);
  },
  data() {
    return {
      currentCollection: null,
      currentUrl: null,
      data: {},
      errors: new Set(),
      images: new Map(),
      loading: true,
      previewLang: 'de',
      rawData: null,
      source: null,
    };
  },
  metaInfo() {
    return {
      meta: [
        {
          key: 'robots',
          name: 'robots',
          content: 'noindex',
        },
      ],
      title: 'Preview',
    };
  },
  methods: {
    disableLinks(e) {
      if (e.target.tagName.toLowerCase() === 'a') e.preventDefault();
    },
    handleMessage(e) {
      const { origin, data, source } = e;

      if (origin !== MATTRBLD_INSTANCE) {
        this.errors.add(`The message came from an unallowed origin: ${origin}`);
        return;
      }

      if (data && data.handshake) source.postMessage({ handshake: data.handshake }, origin);
      else if (data && typeof data.collection !== 'undefined' && typeof data.url !== 'undefined' && typeof data.data !== 'undefined') {
        if (data.imageMap && data.imageMap.size > 0) {
          data.imageMap.forEach((image, path) => {
            if (this.images.has(path)) return;
            this.images.set(path, URL.createObjectURL(image));
          });
        }

        this.currentCollection = data.collection;
        this.currentUrl = data.url;
        this.rawData = data.data;
        this.data = flattenLanguageProperties(this.replaceContent(data.data), this.previewLang);
        if (this.loading) this.$nextTick(() => { this.loading = false; });
      }
    },
    replaceContent(obj) {
      if (!obj || typeof obj !== 'object') return obj;

      if (Array.isArray(obj)) return obj.map((item) => this.replaceContent(item));

      return Object.entries(obj).reduce((acc, [key, value]) => {
        // if (typeof value === 'string' && key === 'src' && this.images.has(value)) acc[key] = { src: this.images.get(value) };
        if (typeof value === 'string' && key === 'src' && this.images.has(value)) acc[key] = this.images.get(value); // ObjectURLs are strings, this should make g-image happy, if not the line above might work
        else if (Array.isArray(value) && key === 'employees') {
          acc[key] = value.map((val) => ({
            email: 'email@example.com',
            greeting: 'Begrüßung',
            image: { src: '' },
            message: 'Nachricht (Platzhalterdaten werden nach Veröffentlichung mit den echten Daten ersetzt)',
            name: val && val.replace('-', ' '),
            role: 'Rolle im Unternehmen',
          }));
        } else if (Array.isArray(value) && key === 'authors') acc[key] = value.map((id) => ({ avatar: null, name: id && id.replace('-', ' ') }));
        else if (typeof value === 'string' && key === 'contact') acc[key] = { image: null, name: value && value.replace('-', ' '), email: 'email@example.com' };
        else if (value instanceof Date) acc[key] = `${value.getFullYear()}-${value.getMonth() + 1}-${value.getDate()}`; // sometimes date-strings are converted into dates by gray-matter, we have to change them back
        else if (typeof value === 'string' && key === 'content' && obj.___mb_schema === '/.mattrbld/schemas/blog-post.json') acc[key] = marked.parse(value);
        else acc[key] = this.replaceContent(value);
        return acc;
      }, {});
    },
    switchLanguage(lang) {
      this.previewLang = lang;
      this.$root.lang = lang;
      this.data = flattenLanguageProperties(this.replaceContent(this.rawData), this.previewLang);
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.preview-wrapper
  .loading-state,
  .no-preview
    padding: 4rem
    text-align: center

    .spinner
      margin: 1rem auto

  .employee-card
    max-width: (560 / 16)rem
    margin: 2rem auto

  .download-item
    margin: 2rem auto
    width: calc(25% - 2rem)

    @media $smallerThanMaxWidth
      width: calc(33.33% - 2rem)

    @media $tablet
      width: calc(50% - 2rem)

    @media $mobile
      width: calc(100% - 2rem)

  .preview-banner
    position: fixed
    bottom: 0
    width: calc(100% - 1rem)
    padding: 2rem
    display: flex
    background-color: white
    z-index: 9
    border: 1px solid $red
    margin: 0.5rem

    @media $mobile
      padding: 1rem
      display: block
      font-size: (14 / 16)rem
      border-radius: 1rem

    .et-icon
      margin-right: 2rem
      color: $red

      @media $mobile
        margin-right: 0
        margin-bottom: 1rem
        margin-left: -0.25rem
        width: 2rem
        height: @width

    .right
      p
        margin-bottom: 1rem

        @media $mobile
          margin-bottom: 0.5rem

        &:last-child
          margin-bottom: 0

      ul
        list-style: none
        padding: 0
        margin: 0

        li
          display: inline-block

          &:not(:last-child)
            margin-right: 0.5rem

          &:not(:first-child)
            text-transform: uppercase
            font-weight: bold
            padding: 0 0.25rem
            cursor: pointer
            transition: background-color 200ms ease

            &:hover
              color: $textHover

            &.active
              background-color: $text
              color: white
</style>
