<template lang="html">
  <main class="not-found">
    <template>
      <h1>{{ data.title[lang] || data.title[fallbackLanguage] }}</h1>
      <h2>{{ data.subtitle[lang] || data.subtitle[fallbackLanguage] }}</h2>
      <p>{{ data.message[lang] || data.message[fallbackLanguage] }}</p>
      <g-link class="button" :to="data.button.path[lang] || data.button.path[fallbackLanguage]">{{ data.button.label[lang] || data.button.label[fallbackLanguage] }}</g-link>
    </template>
  </main>
</template>

<script>
import data from '@/data/404.json';
import { fallbackLanguage, supportedLanguages } from '@/data/supportedLanguages.json';

export default {
  mounted() {
    window.plausible('404', { props: { path: document.location.pathname } });
  },
  computed: {
    lang() {
      return this.$context.lang || this.$root.lang;
    },
  },
  data() {
    return {
      data,
      fallbackLanguage,
    };
  },
  metaInfo() {
    return {
      title: '404',
      htmlAttrs: {
        lang: supportedLanguages.includes(this.lang) ? this.lang : fallbackLanguage,
      },
    };
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.not-found
  padding: 12.5rem 1rem
  max-width: $maxWidth
  margin: 0 auto

  @media $mobile
    padding: 4.5rem 1rem

  .button
    margin: 0
</style>
