<template lang="html">
  <div class="open-position-preview">
    <header>
      {{data.name}}
    </header>
    <div class="body" v-html="data.body">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.open-position-preview
  max-width: $maxTextWidth
  margin: 2rem auto

  header
    background-color: $red
    color: white
    border: 1px solid $greyLighter
    padding: 1rem 1.5rem
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 600
    font-size: 0.875rem

  .body
    padding: 1rem 1.5rem
</style>
