<template lang="html">
  <section class="services block">
    <h2 v-if="heading">{{heading}}</h2>
    <p v-if="text" v-html="text" />
    <div class="grid">
      <StadlerLinkCard
        v-for="(service, index) in relatedServices"
        :alt="service.image.alt"
        :color="service.color"
        :heading="service.heading"
        :href="service.href"
        :image="service.image.src"
        :key="index"
        :lang="lang"
        :title="service.image.title"
      />
    </div>
  </section>
</template>

<script>
import { flattenLanguagePropertyString } from '@/assets/js/flattenLocalizedProperties';

export default {
  computed: {
    relatedServices() {
      let relatedServices = this.$static.data.edges.filter((edge) => edge.node.tags.includes(this.servicesTagged));
      relatedServices = relatedServices.map((edge) => {
        const node = flattenLanguagePropertyString(edge.node, this.lang);
        const titleBlock = node.content.find((block) => block.template === 'page-title');
        return {
          heading: node.name,
          color: node.color,
          href: node.url,
          image: {
            alt: titleBlock && titleBlock.backgroundImage && titleBlock.backgroundImage.alt,
            src: titleBlock && titleBlock.backgroundImage && titleBlock.backgroundImage.src,
            title: titleBlock && titleBlock.backgroundImage && titleBlock.backgroundImage.title,
          },
        };
      });
      relatedServices.sort((a, b) => {
        const headingA = a.heading.toUpperCase();
        const headingB = b.heading.toUpperCase();

        if (headingA < headingB) return -1;
        if (headingA > headingB) return 1;
        return 0;
      });
      return relatedServices;
    },
  },
  props: {
    heading: String,
    lang: String,
    servicesTagged: String,
    text: String,
  },
};
</script>

<static-query>
query {
  data: allPageNode(filter: { tags: { contains: "service" } }) {
    edges {
      node {
        url { allLanguages },
        color,
        name { allLanguages }
        tags,
        content {
          template,
          ...on PageTitleBlock {
            backgroundImage {
              src(width: 360, height: 200),
              alt { allLanguages },
              title { allLanguages },
            }
          }
        }
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.services
  max-width: $maxWidth
  margin: 0 auto
  text-align: center

  @media $smallerThanMaxWidth
    padding: 0 1rem

  p
    max-width: $maxTextWidth
    margin: 0 auto
    margin-bottom: 4rem

  .grid
    margin: 0 -1rem
    text-align: left

    @media $smallerThanMaxWidth
      margin: 0 auto
      max-width: 49rem

    @media $mobile
      margin: 0

    .link-card
      margin: 1rem
      margin-bottom: 3rem
      width: calc(33.33% - 2rem)

      >>> img
        max-width: none

      @media $smallerThanMaxWidth
        width: calc(50% - 2rem)

      @media $mobile
        width: 100%
        margin-left: 0
        margin-right: 0

        &:last-child
          margin-bottom: 0
</style>
