<template lang="html">
  <ul class="breadcrumb">
    <li>
      <g-link :to="homeLink.href" exact>{{homeLink.label}}</g-link>
    </li>
    <li v-for="link in path" :key="link.href">
      <g-link :to="link.href" exact>{{link.label}}</g-link>
    </li>
    <li>
      <span class="active">{{currentPath}}</span>
    </li>
  </ul>
</template>

<script>
import { fallbackLanguage, supportedLanguages } from '@/data/supportedLanguages.json';
import { home } from '@/data/commonStrings.json';

export default {
  computed: {
    homeLink() {
      if (this.lang === 'de') return { label: home.de, href: '/' };
      if (supportedLanguages.includes(this.lang)) return { label: home[this.lang], href: `/${this.lang}/` };
      return { label: home[fallbackLanguage], href: `/${fallbackLanguage}/` };
    },
  },
  props: {
    currentPath: String,
    lang: String,
    path: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.breadcrumb
  padding: 0
  margin: 0
  list-style: none

  li
    display: inline-block
    margin: 0
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 0.875rem
    font-weight: normal

    &:not(:last-child)
      margin-right: 0.5rem

      &::after
        content: '/'
        margin-left: @margin-right

    .active
      color: $red
      font-weight: 600
</style>
