<template lang="html">
  <svg class="logo" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 37">
    <path d="M48.89 17.1h-5.52c-.37 0-.73-.13-1-.38a1.05 1.05 0 01-.35-.81 1.12 1.12 0 01.38-.84c.27-.25.63-.38 1-.36h8.82v-2h-8.85a3.69 3.69 0 00-2.73 1 3.16 3.16 0 001.26 5.22c.47.17.97.25 1.47.22h5.52c.58-.03 1.16.14 1.63.48a1.37 1.37 0 01.39 1.72c-.1.19-.24.36-.41.49-.46.36-1.03.54-1.61.51H40v2h8.9a4.07 4.07 0 003-1.12 3.41 3.41 0 001-2.49 3.52 3.52 0 00-2.39-3.4 4 4 0 00-1.62-.24zM66.09 12.68H54.85v2.03h4.61v9.65h2.03v-9.65h4.6v-2.03zM73.93 12.89a1.21 1.21 0 00-.8-.24c-.27.03-.53.14-.75.3-.32.22-.59.5-.79.83l-6.34 10.56h2.45l1.3-2.06h8.3l1.22 2.06H81l-6.23-10.56c-.2-.36-.5-.66-.84-.89zm-3.76 7.39l2.8-4.6h.4l2.74 4.6h-5.94zM90.59 12.68H84v11.68h6.59A5.6 5.6 0 0095 22.49a6 6 0 001.5-4.09 5.54 5.54 0 00-5.89-5.72h-.02zm3 8.41a3.72 3.72 0 01-3 1.24H86v-7.62h4.56a3.7 3.7 0 013.85 3.69 3.67 3.67 0 01-.86 2.69h.04zM101.27 12.68h-2.03v11.68h10.07v-2.03h-8.04v-9.65zM111.75 24.36h10.09v-2.03h-8.06v-2.88h7.9v-2.03h-7.9v-2.71h8.06v-2.03h-10.09v11.68zM134.44 20.84a4.45 4.45 0 002.56-1.61c.52-.7.78-1.57.73-2.44a3.83 3.83 0 00-1.2-2.83 5.68 5.68 0 00-4-1.28h-7v11.68h2v-3.28h4.17l3.3 3.28h3l-3.56-3.52zM127.53 19v-4.29h5.24c1.78 0 2.71.69 2.78 2.08a2.02 2.02 0 01-.6 1.56c-.61.5-1.4.75-2.18.69l-5.24-.04zM13.42 28.82a11.06 11.06 0 009.77-1.29 8.12 8.12 0 003.92-6.8 6.37 6.37 0 00-3.35-5.67 6.76 6.76 0 00-3.13-.81c-1-.02-1.97.27-2.78.84a1 1 0 00-.23 1.45 1.05 1.05 0 001.44.22c.46-.3 1.01-.46 1.57-.44A4.35 4.35 0 0125 20.68a6.07 6.07 0 01-3 5.14 8.81 8.81 0 01-7.9 1.05 10.09 10.09 0 01-6.49-10.4A11.29 11.29 0 0115 7.25a12.09 12.09 0 0111.12 1.31 9.03 9.03 0 00-1-.38 11 11 0 00-9.77 1.29 8.1 8.1 0 00-3.92 6.8 7.13 7.13 0 004.11 6.3c.7.3 1.46.47 2.23.48a4.18 4.18 0 003.06-1.26 1.05 1.05 0 00.2-1.13 1 1 0 00-.23-.33 1 1 0 00-1.46 0 2.65 2.65 0 01-3 .31 5 5 0 01-2.84-4.34 6.1 6.1 0 013-5.15 8.88 8.88 0 017.9-1.04 10.17 10.17 0 016.34 11 11.54 11.54 0 01-7.22 8.57 12.09 12.09 0 01-11.11-1.31c.32.14.64.27 1 .38l.01.07zm5.84-24.24a13.92 13.92 0 100 27.84 13.92 13.92 0 000-27.84z" fill="currentColor"/>
  </svg>
</template>

<script>
export default {
};
</script>

<style lang="stylus" scoped>
</style>
