<template lang="html">
  <section class="numbered-grid block" :class="{ bg: backgroundImage }">
    <g-image v-if="backgroundImage && backgroundImage.src" :alt="backgroundImage.alt" :src="backgroundImage.src" :title="backgroundImage.title" />
    <div class="content">
      <h2 v-if="heading">{{heading}}</h2>
      <div class="columns" :class="{ twos: cells && (cells.length === 2 || cells.length === 4)}">
        <div v-for="(cell, index) in cells" class="column" :key="index">
          <p class="cell-number">{{index + 1 < 10 ? `0${index + 1}` : index + 1}}</p> <!-- eslint-disable-line vue/no-parsing-error -->
          <h3 v-if="cell.heading">{{cell.heading}}</h3>
          <p v-if="cell.body" v-html="cell.body"/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    backgroundImage: Object,
    cells: Array,
    heading: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/fonts'
@require '../assets/styles/spacing'

.numbered-grid
  padding: 0 1rem
  position: relative

  &.bg
    padding-top: 6rem
    padding-bottom: @padding-top

  img,
  noscript >>> img
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    font-family: 'object-fit: cover;'

  .content
    margin: 0 auto
    max-width: $maxWidth
    position: relative
    z-index: 2

    h2
      text-align: center

    .columns
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-auto-rows: min-content
      grid-gap: 4.5rem 2rem

      &.twos
        grid-template-columns: repeat(2, 1fr)

      @media $desktopSmall
        grid-template-columns: repeat(2, 1fr)

      @media $tablet
        display: block
        padding: 0 1rem

      .column
        margin: 0

        @media $tablet
          width: 100%
          margin-left: auto
          margin-right: auto

        .cell-number
          font-family: $font-heading
          font-size: 4rem
          text-align: center
          margin: 0 auto

          @media $mobile
            font-size: 3rem

        h3
          margin-top: 0
          text-align: center
</style>
