<template lang="html">
  <StadlerSeparator :alt="backgroundImage && backgroundImage.alt" :background-image="backgroundImage && backgroundImage.src" class="cta-separator block" darkened :title="backgroundImage && backgroundImage.title">
    <g-image v-if="image && image.src" :alt="image.alt" :src="image.src" :title="image.title" />
    <h3 v-if="heading">{{heading}}</h3>
    <p v-if="text" v-html="text" />
    <g-link v-if="cta && cta.label && cta.href && cta.href.startsWith('/')" class="button" :title="cta.title" :to="cta.href">{{cta.label}}</g-link>
    <a v-else-if="cta && cta.label && cta.href && cta.href.startsWith('#')" class="button" :href="cta.href" :title="cta.title">{{cta.label}}</a>
    <a v-else-if="cta && cta.label && cta.href" class="button" :href="cta.href" rel="nofollow noreferrer noopener" target="_blank" :title="cta.title">{{cta.label}}</a>
  </StadlerSeparator>
</template>

<script>
export default {
  props: {
    heading: String,
    text: String,
    cta: Object,
    image: Object,
    backgroundImage: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
.cta-separator
  text-align: center

  :first-child
    margin-top: 0

  :last-child
    margin-bottom: 0

  >>> .content-wrapper
    padding: 0 1rem
</style>
