<template lang="html">
  <section class="open-positions block">
    <div class="tab-bar">
      <button v-for="(tab, index) in tabs" :class="{ active: activeTab === index }" :key="index" type="button" @click="activeTab = index">
        <ETLineIcon>{{tab.icon}}</ETLineIcon>
        <span>{{tab.label}}</span>
      </button>
    </div>
    <div v-for="(tab, index) in tabs" class="op-wrapper" :class="{ active: activeTab === index && visibleTab === index, js: !nojs }" :key="tab.section" ref="tabContent" :style="{ display: visibleTab !== index ? 'none' : null }" @transitionend.self="handleTransitionEnd">
      <g-image v-if="images[index] && images[index].src" :alt="images[index].alt" :src="images[index].src" :title="images[index].title" />
      <StadlerAccordeon v-if="accordeonItems[index].length > 0" :items="accordeonItems[index]" red-accent />
      <p v-else class="accordeon empty-state">{{openPositionEmpty}}</p>
    </div>
  </section>
</template>

<script>
import ETLineIcon from '@/components/ETLineIcon.vue';
import { flattenLanguagePropertyString, flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';
import {
  openPositionEmpty, openPositionsTabApprentice,
  openPositionsTabOffice, openPositionsTabTechnician,
} from '@/data/commonStrings.json';

export default {
  components: {
    ETLineIcon,
  },
  computed: {
    accordeonItems() {
      const localizedData = flattenLanguagePropertyString(this.$static.data, this.lang);

      return this.tabs.map((tab) => {
        const relevantData = localizedData.edges.reduce((result, edge) => {
          const { node } = edge;
          if (node.section !== tab.section) return result;
          result.push(node);
          return result;
        }, []);

        const accordeonItems = relevantData.reduce((result, node) => {
          if (!node.name || !node.body) return result;
          const item = {
            heading: node.name,
            body: node.body,
          };
          result.push(item);
          return result;
        }, []);

        accordeonItems.sort((a, b) => {
          const headingA = a.heading.toUpperCase();
          const headingB = b.heading.toUpperCase();

          if (headingA < headingB) return -1;
          if (headingA > headingB) return 1;
          return 0;
        });

        return accordeonItems;
      });
    },
  },
  data() {
    return {
      activeTab: 0,
      nojs: true,
      openPositionEmpty: flattenLanguageProperties(openPositionEmpty, this.lang),
      tabs: [
        {
          label: openPositionsTabTechnician[this.lang],
          section: 'technician',
          icon: 'tools-2',
        },
        {
          label: openPositionsTabOffice[this.lang],
          section: 'office',
          icon: 'desktop',
        },
        {
          label: openPositionsTabApprentice[this.lang],
          section: 'apprentice',
          icon: 'notebook',
        },
      ],
      visibleTab: 0,
    };
  },
  methods: {
    handleTransitionEnd() {
      this.$refs.tabContent[this.activeTab].style.display = 'flex';
      if (this.visibleTab !== this.activeTab) this.$refs.tabContent[this.visibleTab].style.height = '0';
      window.setTimeout(() => {
        if (this.visibleTab !== this.activeTab) this.$refs.tabContent[this.visibleTab].style.removeProperty('height');
        this.visibleTab = this.activeTab;
        this.$nextTick(() => this.$refs.tabContent[this.activeTab].style.removeProperty('display'));
      }, 0);
    },
  },
  mounted() {
    this.nojs = false;
  },
  props: {
    images: Array,
    lang: String,
  },
};
</script>

<static-query>
query {
  data: allOpenPosition {
    edges {
      node {
        name { allLanguages },
        body { allLanguages },
        section
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.open-positions
  position: relative

  .tab-bar
    max-width: $maxWidth
    margin: 0 auto
    text-align: center

    button
      border: none
      background-color: transparent
      min-width: 8rem
      cursor: pointer
      color: $textLighter
      font-size: 0.875rem
      text-transform: uppercase
      letter-spacing: 2px
      transition: color 270ms $base-easing
      margin-bottom: 4rem

      @media $mobile
        min-width: calc(50% - 2rem)

      &:not(:last-child)
        margin-right: 2rem

        @media $mobile
          margin-right: 0

      &:focus
        outline: none

      &:hover,
      &:focus
        color: $text

      &.active
        color: $red

      .et-icon
        margin: 0 auto 1rem auto

  .op-wrapper
    max-width: ($maxWidth + 2rem)
    margin-left: auto
    margin-right: auto
    display: flex
    align-items: flex-start
    padding: 0 1rem

    @media $tablet
      flex-wrap: wrap

    & + .op-wrapper
      margin-top: 4rem

    &.js
      transition: opacity 270ms $base-easing
      opacity: 0
      margin-top: 0

      &.active
        opacity: 1

    img,
    noscript
      margin-right: 2rem
      max-width: 100%
      width: calc(50% - 2rem)
      object-fit: cover
      font-family: 'object-fit: cover;'

      @media $tablet
        margin-right: auto
        margin-left: auto
        margin-bottom: 2rem
        width: auto

    noscript >>> img
      width: 100%
      height: 100%
      object-fit: cover
      font-family: 'object-fit: cover;'

    .accordeon
      max-width: 100%
      width: 100%
</style>
