<template lang="html">
  <section class="page-title block">
    <g-image v-if="backgroundImage && backgroundImage.src" class="background" :alt="backgroundImage && backgroundImage.alt" draggable="false" :src="backgroundImage && backgroundImage.src" :style="{transform: parallaxTransform}" :title="backgroundImage && backgroundImage.title" />
    <g-image v-if="backgroundImage && (backgroundImage.mobileSrc || backgroundImage.src)" class="background mobile" :alt="backgroundImage && backgroundImage.alt" draggable="false" :src="backgroundImage && (backgroundImage.mobileSrc || backgroundImage.src)" :style="{transform: parallaxTransform}" :title="backgroundImage && backgroundImage.title" />
    <div class="content">
      <h1>{{heading}}</h1>
      <StadlerBreadcrumb v-if="breadcrumb" :current-path="heading" :lang="lang" :path="breadcrumb" />
    </div>
  </section>
</template>

<script>
export default {
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll, { passive: true });
  },
  computed: {
    parallaxTransform() {
      return `translateY(${this.currentScroll * 0.6}px)`;
    },
  },
  data() {
    return {
      currentScroll: 0,
    };
  },
  methods: {
    handleScroll() {
      this.currentScroll = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll, { passive: true });
  },
  props: {
    heading: String,
    breadcrumb: Array,
    backgroundImage: Object,
    lang: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.page-title
  position: relative
  overflow: hidden
  background-color: $textDarker
  color: white
  padding: 3rem 1rem
  padding-top: 5rem // so the navigation-bar overlays it a little and we don’t get a white flash when scrolling
  margin-top: -2rem

  .background,
  >>> .background
    position: absolute
    top: 0
    left: @top
    width: 100%
    height: 100%
    object-fit: cover
    font-family: 'object-fit: cover;'
    opacity: 0.4
    pointer-events: none

    @media $tablet
      display: none

    &.mobile
      display: none

      @media $tablet
        display: block

  .content
    max-width: $maxWidth
    margin: 0 auto
    position: relative
    z-index: 1

    h1
      margin-top: 0
      margin-bottom: 1rem

    .breadcrumb
      >>> a:not(.active)
        color: inherit
</style>
