<template lang="html">
  <section class="block team-gallery">
    <h2 v-if="heading">{{heading}}</h2>
    <ul class="mosaic">
      <li v-for="employee in localizedEmployees" :key="employee.id">
        <g-image v-if="employee.image && employee.image.src" :alt="employee.image.alt || 'Image not found'" :src="employee.image.src" :title="`${employee.name} ${employee.role ? '(' + employee.role + ')' : ''}`" @mouseenter="showTooltip($event, `${employee.name} ${employee.role ? '(' + employee.role + ')' : ''}`)" />
        <div v-else class="image-placeholder" :title="`${employee.name} ${employee.role ? '(' + employee.role + ')' : ''}`" @mouseenter="showTooltip($event, `${employee.name} ${employee.role ? '(' + employee.role + ')' : ''}`)">
          <ETLineIcon>profile-male</ETLineIcon>
        </div>
      </li>
    </ul>
    <StadlerTooltip position="bottom" :target="tooltip.target" :visible="tooltip.visible" @after-close="resetTooltip">{{tooltip.message}}</StadlerTooltip>
  </section>
</template>

<script>
import { fallbackLanguage } from '@/data/supportedLanguages.json';
import { flattenLanguagePropertyString } from '@/assets/js/flattenLocalizedProperties';

import ETLineIcon from './ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
  },
  computed: {
    localizedEmployees() {
      return this.$static.data.edges
        .map(({ node: employee }) => flattenLanguagePropertyString(employee, this.lang || fallbackLanguage));
    },
  },
  data() {
    return {
      tooltip: {
        message: null,
        target: null,
        visible: false,
      },
    };
  },
  methods: {
    hideTooltip(e) {
      e.currentTarget.removeEventListener('mouseleave', this.hideTooltip);

      this.tooltip.visible = false;
    },
    resetTooltip() {
      this.tooltip.message = null;
      this.tooltip.target = null;
    },
    showTooltip(e, message) {
      this.tooltip.message = message;
      this.tooltip.target = e.currentTarget;
      this.tooltip.visible = true;

      e.currentTarget.title = '';

      e.currentTarget.addEventListener('mouseleave', this.hideTooltip);
    },
  },
  props: {
    heading: String,
    lang: String,
  },
};
</script>

<static-query>
query {
  data: allEmployee(filter: { hideInMosaic: { ne: true } }, sortBy: "id", order: ASC) {
    edges {
      node {
        id
        name { allLanguages }
        role { allLanguages }
        image {
          src(width: 224, height: 272, quality: 70)
          alt { allLanguages }
        }
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.team-gallery
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  h2
    text-align: center

  .mosaic
    list-style: none
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0

    @media $smallerThanMaxWidth
      justify-content: center

    li
      img,
      noscript >>> img,
      .image-placeholder
        display: block
        width: (112 / 16)rem
        height: @width
        transform: scale(0.75)
        filter: grayscale()
        transition: transform 135ms $base-easing
        object-fit: cover
        object-position: top

        &:hover
          transform: none
          filter: none

      .image-placeholder
        background-color: $greyLighter
        display: flex
        align-items: center
        justify-content: center
        color: alpha($text, 0.5)

  .tooltip
    font-size: 1rem
</style>
