<template lang="html">
  <section class="flipbook block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="flipbook-wrapper">
      <iframe :src="url"></iframe>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    heading: String,
    url: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.flipbook
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  h2
    text-align: center

  iframe
    width: 100%
    height: (600/16)rem
    border: none
</style>
