<template lang="html">
  <StadlerSeparator :alt="backgroundImage && backgroundImage.alt" :background-image="backgroundImage && backgroundImage.src" class="customer-slider block" darkened small-padding :title="backgroundImage && backgroundImage.title">
    <ul class="slider" @touchstart="handleSwipeStart">
      <li v-for="(customer, index) in customers" class="h3" :class="{ transition: !swiping }" :key="index" :style="{ transform: currentTransform }">{{customer}}</li>
    </ul>
    <!-- Customers are zero-indexed, but the pagination starts at one, hence the mapping -->
    <StadlerPaginationBubbles v-if="customers" :current="currentPage + 1" :total="customers.length" @click="handleManualPagination" />
  </StadlerSeparator>
</template>

<script>
export default {
  beforeDestroy() {
    window.clearInterval(this.advanceInterval);
  },
  computed: {
    currentTransform() {
      if (process.isServer) return 'translateX(0px)'; // during build
      // The 24 comes from the width set for .slider > li in <style>
      const slideWidth = Math.min(window.innerWidth, 24 * this.remBase);
      const centeredPage = window.innerWidth > 24 * 3 * this.remBase ? this.currentPage - 1 : this.currentPage;
      let transform = 0;

      if (!this.swiping) transform = -slideWidth * centeredPage;
      else transform = -slideWidth * this.currentPage - this.swipeDistance;

      return `translateX(${transform}px)`;
    },
  },
  data() {
    return {
      advanceInterval: null,
      blockScroll: false,
      currentPage: 0,
      remBase: 16,
      swiping: false,
      swipeDistance: 0,
      swipeStart: 0,
      swipeStartY: 0,
      wasInteracted: false,
    };
  },
  methods: {
    handleManualPagination(page) {
      this.currentPage = page - 1;
      this.wasInteracted = true;
    },
    handleSwipeEnd(e) {
      const distance = this.swipeStart - e.changedTouches[0].clientX;
      this.swiping = false;
      this.blockScroll = false;

      if (Math.abs(distance) > 50) {
        if (Math.sign(distance) === 1) this.nextSlide();
        else this.previousSlide();
        if (!this.wasInteracted) this.wasInteracted = true;
      }

      window.removeEventListener('touchend', this.handleSwipeEnd, false);
      window.removeEventListener('touchmove', this.handleSwipeUpdate, false);
    },
    handleSwipeStart(e) {
      this.swipeStart = e.changedTouches[0].clientX;
      this.swipeStartY = e.changedTouches[0].clientY;
      this.swiping = true;
      this.swipeDistance = 0;

      window.addEventListener('touchend', this.handleSwipeEnd, false);
      window.addEventListener('touchmove', this.handleSwipeUpdate, false);
    },
    handleSwipeUpdate(e) {
      if (this.blockScroll) e.preventDefault();

      const distanceX = this.swipeStart - e.changedTouches[0].clientX;
      const distanceY = this.swipeStartY - e.changedTouches[0].clientY;

      if (Math.abs(distanceX) > Math.abs(distanceY)) {
        this.blockScroll = true;
        e.preventDefault();
      } else if (!this.blockScroll) {
        this.handleSwipeEnd(e);
        return;
      }

      this.swipeDistance = distanceX;

      if (Math.abs(this.swipeDistance) > 25) {
        if (!this.wasInteracted) this.wasInteracted = true;
      }
    },
    nextSlide() {
      if (!this.customers || this.customers.length < 2) return;
      if (this.currentPage + 1 < this.customers.length) this.currentPage += 1;
      else this.currentPage = 0;
    },
    previousSlide() {
      if (!this.customers || this.customers.length < 2) return;
      if (this.currentPage - 1 >= 0) this.currentPage -= 1;
      else this.currentPage = this.customers.length - 1;
    },
  },
  mounted() {
    this.advanceInterval = window.setInterval(this.nextSlide, 2500);
    this.remBase = Number.parseInt(getComputedStyle(document.documentElement).fontSize, 10);
  },
  props: {
    backgroundImage: [String, Object],
    customers: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    wasInteracted(newVal) {
      if (newVal) window.clearInterval(this.advanceInterval);
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/easings'

.customer-slider
  touch-action: pan-y

  .slider
    list-style: none
    padding: 3rem 0
    margin: 0
    white-space: nowrap
    overflow: hidden
    user-select: none

    li
      display: inline-block
      width: 24rem
      max-width: 100vw
      text-align: center
      white-space: normal
      vertical-align: middle

      &.transition
        transition: transform 350ms ease
</style>
