<template lang="html">
  <section class="timeline block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="entries">
      <div v-for="(entry, index) in entries" class="entry" :key="index">
        <p>{{entry.heading}}</p>
        <ul>
          <li v-for="(milestone, index) in filterMilestones(entry)" v-html="milestone" :key="index" />
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  methods: {
    filterMilestones(entry) {
      if (!entry || !entry.milestones) return [];
      return entry.milestones.filter((ms) => ms && typeof ms === 'string');
    },
  },
  props: {
    heading: String,
    entries: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.timeline
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  h2
    text-align: center

  .entries
    .entry
      display: flex
      margin-bottom: 2rem

      &:not(:last-child)
        border-bottom: 1px solid $greyLighter

      > p
        width: 16.5%
        overflow-x: hidden
        text-overflow: ellipsis
        white-space: nowrap
        flex-shrink: 0

      ul
        width: 100%
        max-width: $maxTextWidth
        margin-top: 0
</style>
