<template lang="html">
  <svg class="spinner" :class="[type]" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path d="M15.3 42A18.1 18.1 0 0031.4 40c4.2-2.8 6.5-6.4 6.6-11.2A10.5 10.5 0 0027.2 18c-1.6 0-3.2.5-4.6 1.4a1.7 1.7 0 00-.6 1.8l.3.6a1.8 1.8 0 002.4.3c.8-.5 1.7-.7 2.6-.7 1.2 0 2.5.3 3.6 1a7.2 7.2 0 013.7 6.2c0 3.7-1.9 6.3-5 8.5a14.7 14.7 0 01-13 1.7A16.6 16.6 0 015.6 21.7C6.1 16.3 10 9.4 18 6.3a19.9 19.9 0 0118.4 2.2A19.2 19.2 0 0028.8 7C25 7 21.5 8 18.5 10c-4 2.8-6.4 6.4-6.4 11.2-.1 4.8 3.4 9 6.7 10.4 1.2.5 2.5.8 3.7.8a6.8 6.8 0 005-2 1.7 1.7 0 00-1.2-3c-.4 0-.9.2-1.2.5-1.1 1.2-3 1.4-5 .6a8.3 8.3 0 01-4.7-7.2c.1-3.7 1.9-6.3 5-8.5A14.7 14.7 0 0133.5 11 16.8 16.8 0 0144 29.4a19.1 19.1 0 01-21.3 15.4 20 20 0 01-9-3.4c.6.2 1 .5 1.6.6zM25 2a23 23 0 000 46 23 23 0 000-46" fill="currentColor"/>
  </svg>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      validator: (v) => ['eased', 'stopping', 'linear', 'static'].includes(v),
      default: 'eased',
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/easings'

.spinner
  display: block
  width: 3rem
  height: 3rem
  animation: spin 1.5s cubic-bezier(0.34, 1.56, 0.64, 1) infinite

  &.stopping
    animation-name: stopping-spin

  &.linear
    animation-timing-function: linear
    animation-duration: 5s

  &.static
    animation-name: none

  @keyframes stopping-spin
    0%
      transform: rotate(0)
    50%
    100%
      transform: rotate(360deg)

  @keyframes spin
    to
      transform: rotate(360deg)
</style>
