<template lang="html">
  <section class="download-items block">
    <ul v-if="!nojs" class="category-selector">
      <g-link v-slot="{ href, navigate }" custom :to="{ ...$route, query: { filter: undefined } }">
        <li :class="{ active: !activeCategory }">
          <a :href="href" @click="navigate">{{allDownloads}}</a>
        </li>
      </g-link>
      <g-link v-for="category in sortedCategories" v-slot="{ href, navigate, isExactActive }" custom :key="category.id" :to="{ ...$route, query: { filter: category.label } }">
        <li :class="{ active: isExactActive }">
          <a :href="href" @click="navigate">{{category.label}}</a>
        </li>
      </g-link>
    </ul>
    <template v-if="filteredItems.length > 0">
      <StadlerDownloadItem
        v-for="(item, index) in filteredItems"
        :date="getLocalizedDate(item)"
        :description="item.description"
        :file-path="item.file && item.file.src"
        :key="index"
        :lang="lang"
        :name="item.name"
        :thumbnail="item.thumbnail"
      />
    </template>
    <div v-else class="empty-state">
      <h2>{{emptyStateHeading}}</h2>
      <p>{{emptyStateBody}}</p>
    </div>
  </section>
</template>

<script>
import { flattenLanguagePropertyString, flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';
import { allDownloads, apology, downloadEmptyStateBody } from '@/data/commonStrings.json';

export default {
  computed: {
    activeCategory() {
      return this.$route.query.filter;
    },
    filteredItems() {
      if (!this.activeCategory) return this.localizedItems;
      return this.localizedItems.filter((item) => item.categories.find((category) => category.label === this.activeCategory));
    },
    localizedCategories() {
      if (!this.$static.categories || this.$static.categories.edges.length === 0) return [];
      return this.$static.categories.edges.map((edge) => flattenLanguagePropertyString(edge.node, this.lang));
    },
    localizedItems() {
      return this.relevantItems.map((edge) => flattenLanguagePropertyString(edge.node, this.lang));
    },
    relevantItems() {
      return this.$static.data.edges.filter((edge) => edge.node.languages.includes(this.lang));
    },
    sortedCategories() {
      return this.localizedCategories // filter out empty categories
        .filter((category) => this.localizedItems.find((item) => item.categories.find((itemCategory) => itemCategory.label === category.label)))
        .sort((a, b) => a.label.localeCompare(b.label));
    },
  },
  data() {
    return {
      allDownloads: flattenLanguageProperties(allDownloads, this.lang),
      emptyStateHeading: flattenLanguageProperties(apology, this.lang),
      emptyStateBody: flattenLanguageProperties(downloadEmptyStateBody, this.lang),
      nojs: true,
    };
  },
  methods: {
    getLocalizedDate(item) {
      if (this.lang === 'de') return item.dateDE;
      if (this.lang === 'ru') return item.dateRU;
      return item.dateEN;
    },
  },
  mounted() {
    this.nojs = false;
  },
  props: {
    lang: String,
  },
};
</script>

<static-query>
query {
  data: allDownloadItem(sortBy: "date") {
    edges {
      node {
        name { allLanguages },
        dateDE: date(format: "DD. MMMM YYYY", locale: "de"),
        dateEN: date(format: "DD. MMMM YYYY", locale: "en"),
        dateRU: date(format: "DD. MMMM YYYY", locale: "ru"),
        description { allLanguages },
        file,
        thumbnail {
          alt { allLanguages },
          src(height: 140, fit: inside),
          title { allLanguages }
        },
        languages
        categories {
          label { allLanguages }
        }
      }
    }
  }
  categories: allCategory {
    edges {
      node {
        label { allLanguages }
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.download-items
  max-width: "calc(%s + 2rem)" % $maxWidth
  margin-left: auto
  margin-right: auto
  display: flex
  flex-wrap: wrap

  .category-selector
    list-style: none
    margin: 0
    margin-bottom: 8rem
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    flex-basis: 100%

    @media $tablet
      flex-wrap: nowrap
      justify-content: flex-start
      overflow-x: auto
      margin-bottom: 4rem
      scroll-snap-type: x mandatory
      scrollbar-width: none
      -ms-overflow-style: none

      &::-webkit-scrollbar
        display: none

      li
        scroll-snap-align: center

    li
      margin: 0.25rem 0
      font-size: 0.875rem
      border-radius: 2px
      font-weight: 600
      color: $textHover
      text-transform: uppercase
      letter-spacing: 2px
      text-align: center
      cursor: pointer
      touch-action: manipulation
      white-space: nowrap
      user-select: none
      text-overflow: ellipsis
      overflow: hidden
      flex-shrink: 0
      transition: color 270ms $base-easing, background-color 270ms $base-easing

      &:hover
        color: $text

      &.active
        background-color: $red
        color: white
        margin: 0.25rem 0.5rem

        a:focus
          color: white

      a
        padding: 0.5rem 1rem
        color: inherit
        text-decoration: none
        display: inline-block

        &:focus
          color: $text

  .download-item
    margin: 0 1rem 6rem 1rem
    width: calc(25% - 2rem)

    @media $smallerThanMaxWidth
      width: calc(33.33% - 2rem)

    @media $tablet
      width: calc(50% - 2rem)

    @media $mobile
      width: 100%

  .empty-state
    max-width: $maxTextWidth
</style>
