<template lang="html">
  <div class="blog-post-card" :class="{ slim }">
    <div class="date-wrapper">
      <span>{{splitDate.day}}</span>
      <span>{{splitDate.month}}, {{splitDate.year}}</span>
    </div>
    <div class="post-wrapper">
      <component :is="slim ? 'h3' : 'h2'">{{name}}</component>
      <div v-if="!slim" class="meta">
        <ul v-if="authors && authors.length" class="author">
          <li v-for="author in authors" :key="author.id">
            <g-image v-if="author.image && author.image.src" :alt="author.image.alt" :src="author.image.src" />
            <span>{{author.name}}</span>
          </li>
        </ul>
        <template v-if="cleanCategories.length > 0">
          <FontAwesomeIcon class="icon" :icon="icons.folder" />
          <span>{{cleanCategories}}</span>
        </template>
      </div>
      <div v-if="hero.type === 'video' || (hero.type === 'image' && hero.src)" class="hero-wrapper">
        <g-image v-if="hero.type === 'image' && hero.src" :alt="hero.alt" :src="hero.src" :title="hero.title" />
        <StadlerYoutubeEmbed v-if="hero.type === 'video' && !slim" :id="hero.src" :lang="lang" :thumbnail="hero.thumbnail" />
        <g-image v-else-if="hero.type === 'video' && slim && hero.thumbnail && hero.thumbnail.src" :alt="hero.thumbnail.alt" :src="hero.thumbnail.src" />
      </div>
      <p>{{blurb}}</p>
      <g-link class="button" :to="path">{{readMore[lang]}}</g-link>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faTag as tag, faFolderOpen as folder } from '@fortawesome/free-solid-svg-icons';

import { readMore } from '@/data/commonStrings.json';

export default {
  components: {
    FontAwesomeIcon,
  },
  computed: {
    blurb() {
      if (this.teaser) return this.teaser;
      const blurbCandidate = this.excerpt.split('\n')[0].substring(0, this.slim ? 200 : 450).trim();
      if (!/(\w|,)$/.test(blurbCandidate)) return blurbCandidate;
      if (blurbCandidate.endsWith(',')) return blurbCandidate.substring(0, blurbCandidate.length - 1);
      return `${blurbCandidate}…`;
    },
    cleanCategories() {
      if (!this.categories) return [];
      return this.categories.map((category) => category.label).join(', ');
    },
    splitDate() {
      if (!this.date) return {};
      const [day, month, year] = this.date.split('-');
      return { day, month, year };
    },
  },
  data() {
    return {
      icons: {
        folder,
        tag,
      },
      readMore,
    };
  },
  props: {
    authors: Array,
    categories: Array,
    date: String,
    excerpt: String,
    hero: Object,
    lang: String,
    name: String,
    path: String,
    slim: Boolean,
    teaser: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.blog-post-card
  display: flex
  align-items: flex-start

  &.slim
    display: block
    overflow: hidden

    .date-wrapper
      border-right: none
      padding-right: 0
      margin-bottom: 0.5rem
      position: static

      span
        display: inline

        &:first-child
          font-size: 0.875rem
          font-weight: 300
          margin-right: 0.25rem

    .post-wrapper
      margin: 0

      .button
        width: 100%

  @media $mobile
    display: block

  .date-wrapper
    // margin-left: auto
    position: sticky
    top: 5rem
    padding-right: 2rem
    border-right: 0.0625rem solid $greyLighter

    span
      display: block
      text-align: right
      font-size: 0.875rem

      &:first-child
        font-size: 1.25rem
        font-weight: 400

    @media $mobile
      border-right: none
      padding-right: 0
      margin-bottom: 0.5rem
      position: static

      span
        display: inline

        &:first-child
          font-size: 0.875rem
          font-weight: 300
          margin-right: 0.25rem

  .post-wrapper
    width: 100%
    max-width: $maxTextWidth
    margin-left: 2rem
    margin-right: auto
    overflow: hidden

    @media $mobile
      margin-left: 0

    h2, h3
      margin-top: 0
      margin-bottom: 1rem

    .meta
      display: flex
      align-items: center
      margin-bottom: 2rem
      white-space: nowrap

      .author
        display: flex
        align-items: center
        list-style: none
        margin: 0
        padding: 0

        li
          display: flex
          align-items: center

          &:not(:last-child)
            margin-right: (16 / 16)rem

        img,
        noscript >>> img
          width: 2rem
          height: @width
          border-radius: 50%
          margin-right: 0.5rem

      .icon
        margin-left: 1rem
        margin-right: 0.5rem
        color: $textLighter

      > span
        overflow: hidden
        text-overflow: ellipsis

    .hero-wrapper
      margin-bottom: 2rem

      img,
      noscript >>> img
        display: block
        max-width: 100%
        margin-left: auto
        margin-right: auto
</style>
