<template lang="html">
  <div class="accordeon">
    <section v-for="(item, index) in items" class="item" :class="{ active: active === index || nojs }" :key="index">
      <header :class="{red: redAccent}" tabindex="0" @keyup.space="activate(index)" @keyup.enter="activate(index)" @click="activate(index)">
        <span>{{item.heading}}</span>
        <FontAwesomeIcon class="icon" :icon="angleDown" />
      </header>
      <transition @enter="enter" @after-enter="afterEnter" @leave="leave">
        <div v-show="active === index || nojs" class="body" :class="{ notransition }" v-html="item.body" />
      </transition>
    </section>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleDown as angleDown } from '@fortawesome/free-solid-svg-icons';

export default {
  components: {
    FontAwesomeIcon,
  },
  created() {
    if (typeof this.initialActive !== 'undefined') this.active = this.initialActive;
  },
  data() {
    return {
      active: -1,
      angleDown,
      nojs: true,
      notransition: true,
    };
  },
  methods: {
    activate(index) {
      if (this.active === index) this.active = -1;
      else this.active = index;
    },
    afterEnter(el) {
      el.style.height = 'auto'; // eslint-disable-line no-param-reassign
    },
    enter(el) {
      /* eslint-disable no-param-reassign */
      const { width } = getComputedStyle(el);

      el.style.width = width;
      el.style.position = 'absolute';
      el.style.visibility = 'hidden';
      el.style.height = 'auto';

      const { height } = getComputedStyle(el);

      el.style.removeProperty('width');
      el.style.removeProperty('position');
      el.style.removeProperty('visibility');
      el.style.height = 0;

      // Force repaint to make sure the
      // animation is triggered correctly.
      getComputedStyle(el).height; // eslint-disable-line no-unused-expressions

      // Trigger the animation.
      // We use `requestAnimationFrame` because we need
      // to make sure the browser has finished
      // painting after setting the `height`
      // to `0` in the line above.
      requestAnimationFrame(() => {
        el.style.height = height;
      });
      /* eslint-enable no-param-reassign */
    },
    leave(el) {
      /* eslint-disable no-param-reassign */
      const { height } = getComputedStyle(el);

      el.style.height = height;

      // Force repaint to make sure the
      // animation is triggered correctly.
      getComputedStyle(el).height; // eslint-disable-line no-unused-expressions

      requestAnimationFrame(() => {
        el.style.height = 0;
      });
      /* eslint-enable no-param-reassign */
    },
  },
  mounted() {
    this.nojs = false; // if JS is disabled, all elements need to be expanded to ensure readability
    window.setTimeout(() => { this.notransition = false; }, 0); // this is to avoid the initial jump as everything except active folds
  },
  props: {
    initialActive: Number,
    items: {
      type: Array,
      default: () => [],
    },
    redAccent: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.accordeon
  .item
    &:not(:last-child)
      margin-bottom: 1rem

    > header
      display: flex
      align-items: center
      padding: 1rem 1.5rem
      border: 1px solid $greyLighter
      cursor: pointer
      transition: background-color 270ms $base-easing

      &:hover,
      &:focus
        outline: none
        background-color: alpha($greyLighter, 0.25)

      span
        margin-right: auto
        text-transform: uppercase
        letter-spacing: 2px
        font-weight: 400
        font-size: 0.875rem

      .icon
        opacity: 0.5
        transition: opacity 270ms $base-easing, transform 270ms $base-easing

    &.active
      > header
        background-color: alpha($greyLighter, 0.25)

        &.red
          background-color: $red
          color: white

          > span
            font-weight: 600

        .icon
          transform: rotate(180deg)
          opacity: 1

    > .body
      padding: 0 1.5rem

      &.v-enter-active:not(.notransition),
      &.v-leave-active:not(.notransition)
        overflow: hidden
        transition: height 270ms $base-easing

        &.v-enter,
        &.v-leave-to
          height: 0

      > :first-child
        margin-top: 1rem

      > :last-child
        margin-bottom: 0
</style>
