<template lang="html">
  <section class="recent-posts block" :class="[backgroundColor, { bg: backgroundColor }]">
    <div class="content">
      <h2 v-if="heading">{{heading}}</h2>
      <StadlerBlogroll :lang="lang" :posts="posts" :preview="preview" slim />
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
    };
  },
  props: {
    backgroundColor: String,
    heading: String,
    lang: String,
    posts: Array,
    preview: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.recent-posts
  padding: 0 1rem

  &.bg
    padding-top: 6rem
    padding-bottom: @padding-top

    &.grey
      background-color: $greyLighter

    &.dark
      background-color: $textDarker
      color: white

    .content
      h2
        margin-top: 0

  .content
    max-width: $maxWidth
    margin-left: auto
    margin-right: auto

    h2
      text-align: center
</style>
