<template lang="html">
  <div class="youtube-wrapper" :class="{active}" :style="{ paddingBottom: `${aspectRatio * 100}%` }">
    <transition mode="out-in">
      <div v-if="!active" class="thumbnail" :class="{ fallback: id === 'null' }">
        <g-image v-if="thumbnail && thumbnail.src" :src="thumbnail.src" :alt="thumbnail.alt" :width="String(width)" :height="String(height)" />
        <button v-if="id !== 'null'" @click="active = true">
          <FontAwesomeIcon class="icon" :icon="playIcon" />
          {{playVideo[lang]}}
        </button>
        <p v-if="id !== 'null'">{{youtubeEmbedDisclaimer[lang]}}</p>
      </div>
      <iframe
      v-else
      :width="width"
      :height="height"
      :src="`https://www.youtube-nocookie.com/embed/${id}?autoplay=1&modestbranding=1&showinfo=0&rel=0`"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      />
    </transition>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faPlay as playIcon } from '@fortawesome/free-solid-svg-icons';

import { playVideo, youtubeEmbedDisclaimer } from '@/data/commonStrings.json';

export default {
  components: {
    FontAwesomeIcon,
  },
  computed: {
    aspectRatio() {
      return this.height / this.width;
    },
  },
  data() {
    return {
      active: false,
      playIcon,
      playVideo,
      youtubeEmbedDisclaimer,
    };
  },
  props: {
    height: {
      type: Number,
      default: 360,
    },
    id: {
      type: String,
      required: true,
    },
    lang: {
      type: String,
      default: 'en',
    },
    thumbnail: Object,
    width: {
      type: Number,
      default: 640,
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.youtube-wrapper
  position: relative
  width: 100%
  height: 0
  overflow: hidden
  background-color: black

  .thumbnail,
  iframe
    &.v-enter-active,
    &.v-leave-active
      transition: opacity 200ms ease

      &.v-enter,
      &.v-leave-to
        opacity: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .thumbnail
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $text

    &.fallback
      background-color: transparent

      > img,
      > noscript >>> img
        opacity: 1

    > img,
    > noscript >>> img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      opacity: 0.5

    button
      border: none
      position: relative
      padding: 1rem 1.5rem
      font-size: 0.875rem
      color: white // lowering the opacity to 0.8 makes the text really unreadable
      border-radius: 2px
      background-color: $red
      font-weight: 600
      text-transform: uppercase
      letter-spacing: 2px
      display: inline-flex
      align-items: center
      text-align: center
      text-decoration: none
      vertical-align: middle
      cursor: pointer
      touch-action: manipulation
      white-space: nowrap
      user-select: none
      max-width: 100%
      text-overflow: ellipsis
      overflow: hidden
      transition: color 270ms $base-easing, background-color 270ms $base-easing

      &:hover,
      &:focus
        color: white
        background-color: alpha(black, 0.7)
        outline: none

      .icon
        margin-right: 1rem

    p
      position: absolute
      color: white
      font-weight: 400
      margin: 0 1rem
      bottom: 1rem
      font-size: 0.875rem
      opacity: 0.75
      text-align: center
</style>
