<template lang="html">
  <section class="gallery block">
    <div class="thumbnail-container">
      <figure v-for="(image, index) in filteredImages" class="thumbnail" :class="{ hidden: showLightbox && currentIndex === index }" :key="index" @click="openLightbox(index, $event)">
        <g-image :alt="image.alt" :src="image.src" :title="image.title" />
        <figcaption>{{image.title}}</figcaption>
      </figure>
    </div>
    <transition @enter="handleModalEnter">
      <div v-if="showLightbox" class="modal" @click.self="closeLightbox">
        <transition>
          <button v-show="hasPrevious" class="pagination-button left" type="button" @click="previousImage">
            <FontAwesomeIcon class="icon" :icon="icons.angleLeft" />
          </button>
        </transition>
        <transition mode="out-in" :name="slideDirection">
          <figure class="image-container" :key="currentIndex" :style="{ transform: initialTransform }" @touchstart="handleSwipeStart">
            <g-image :alt="filteredImages[currentIndex].alt" :src="filteredImages[currentIndex].hdSrc || filteredImages[currentIndex].src" :title="filteredImages[currentIndex].title" />
            <figcaption>{{filteredImages[currentIndex].title}}</figcaption>
          </figure>
        </transition>
        <transition>
          <button v-show="hasNext" class="pagination-button right" type="button" @click="nextImage">
            <FontAwesomeIcon class="icon" :icon="icons.angleRight" />
          </button>
        </transition>
        <button aria-label="Close lightbox" class="close-button" @click="closeLightbox">
          <FontAwesomeIcon class="icon" :icon="icons.close" />
        </button>
      </div>
    </transition>
  </section>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleLeft as angleLeft, faAngleRight as angleRight, faTimes as close } from '@fortawesome/free-solid-svg-icons';

export default {
  beforeDestroy() {
    window.removeEventListener('keyup', this.handleKeyup);
  },
  components: {
    FontAwesomeIcon,
  },
  computed: {
    filteredImages() {
      if (!this.images) return [];
      return this.images.filter((image) => image && image.src);
    },
    hasNext() {
      return this.currentIndex < this.filteredImages.length - 1;
    },
    hasPrevious() {
      return this.currentIndex > 0;
    },
  },
  data() {
    return {
      currentIndex: 0,
      icons: {
        angleLeft,
        angleRight,
        close,
      },
      initialTransform: null,
      showLightbox: false,
      slideDirection: 'left',
      swipeDistance: 0,
      swipeStart: 0,
    };
  },
  methods: {
    closeLightbox() {
      this.showLightbox = false;
      window.removeEventListener('keyup', this.handleKeyup);
    },
    handleKeyup(e) {
      if (e.key === 'ArrowLeft') this.previousImage();
      if (e.key === 'ArrowRight') this.nextImage();
      if (e.key === 'Escape') this.closeLightbox();
    },
    handleModalEnter() {
      window.setTimeout(() => {
        this.initialTransform = null;
      }, 0); // timeout is necessary for the transition to trigger
    },
    handleSwipeEnd(e) {
      const distance = this.swipeStart - e.changedTouches[0].clientX;

      if (Math.abs(distance) > 50) {
        if (Math.sign(distance) === 1) this.nextImage();
        else this.previousImage();
      }

      window.removeEventListener('touchend', this.handleSwipeEnd, false);
    },
    handleSwipeStart(e) {
      this.swipeStart = e.changedTouches[0].clientX;
      this.swipeDistance = 0;

      window.addEventListener('touchend', this.handleSwipeEnd, false);
    },
    handleSwipeUpdate(e) {
      this.swipeDistance = this.swipeStart - e.changedTouches[0].clientX;
    },
    nextImage() {
      if (!this.hasNext) return;
      this.slideDirection = 'left';
      this.currentIndex += 1;
    },
    openLightbox(index, e) {
      const figure = e.currentTarget;
      const figureRect = figure.getBoundingClientRect();
      const rectCenter = { x: figureRect.left + figureRect.width / 2, y: figureRect.top + figureRect.height / 2 };
      const screenCenter = { x: document.documentElement.clientWidth / 2, y: document.documentElement.clientHeight / 2 }; // using documentElement.clientWidth so we don’t include the scrollbar

      this.initialTransform = `translate(${rectCenter.x - screenCenter.x}px, ${rectCenter.y - screenCenter.y}px) scale(0.6)`;
      this.currentIndex = index;
      this.showLightbox = true;
      window.addEventListener('keyup', this.handleKeyup);
    },
    previousImage() {
      if (!this.hasPrevious) return;
      this.slideDirection = 'right';
      this.currentIndex -= 1;
    },
  },
  props: {
    images: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.gallery
  padding-left: 1rem
  padding-right: 1rem

  .thumbnail-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: min-content
    grid-gap: 1rem

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Fix
      display: flex
      flex-wrap: wrap
      justify-content: center

    @media $tablet
      grid-template-columns: repeat(2, 1fr)

    @media $mobile
      grid-template-columns: 1fr

    .thumbnail
      position: relative
      margin: 0
      padding: 0
      overflow: hidden
      cursor: pointer
      transition: opacity 270ms ease

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Fix
        max-width: calc(33.33% - 1rem)
        margin: 0.5rem

      &:hover
        &::after
          opacity: 1

        img,
        noscript >>> img
          transform: scale(1.1)

        figcaption
          transform: none
          opacity: 1

      &.hidden
        opacity: 0

      &::after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: alpha(white, 0.9)
        opacity: 0
        transition: opacity 270ms $base-easing

      img,
      noscript >>> img
        display: block
        width: 100%
        height: 100%
        object-fit: cover
        font-family: 'object-fit: cover;'
        filter: grayscale()
        transition: transform 270ms $base-easing

      figcaption
        position: absolute
        width: 100%
        bottom: 2rem
        text-align: center
        font-weight: normal
        padding: 0.5rem 1rem
        z-index: 1
        transform: translateY(100%)
        opacity: 0
        transition: transform 270ms $base-easing, opacity 270ms $base-easing

  .modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: alpha(black, 0.8)
    z-index: 9
    display: flex
    align-items: center
    justify-content: center

    &.v-enter-active,
    &.v-leave-active
      transition: opacity 270ms $base-easing

      .image-container
        transition: transform 270ms $base-easing

      &.v-enter,
      &.v-leave-to
        opacity: 0

        .pagination-button
          &.left
            transform: translateX(-3rem) rotate(45deg)

          &.right
            transform: translateX(3rem) rotate(45deg)

      &.v-leave-to
        .image-container
          transform: scale(0.9)

    .image-container
      &.left-enter-active,
      &.right-enter-active
        transition: transform 270ms ease-out, opacity 270ms ease-out

      &.left-leave-active,
      &.right-leave-active
        transition: transform 270ms ease-in, opacity 270ms ease-in

      &.right-enter,
      &.left-leave-to
        opacity: 0
        transform: translateX(-8rem)

      &.left-enter,
      &.right-leave-to
        opacity: 0
        transform: translateX(8rem)

      img
        max-width: 100vw
        max-height: 90vh
        object-fit: cover
        font-family: 'object-fit: cover;'

      figcaption
        color: white
        text-align: center
        padding: 0.5rem 1rem
        font-weight: normal

    .pagination-button
      position: absolute
      border: none
      display: block
      width: 4rem
      height: @width
      background-color: white
      border-radius: 2px
      cursor: pointer
      z-index: 1
      transition: background-color 270ms $base-easing, transform 270ms $base-easing

      &.v-enter-active,
      &.v-leave-active
        transition: transform 270ms $base-easing

        &.v-enter,
        &.v-leave-to
          &.left
            transform: translateX(-3rem) rotate(45deg)

          &.right
            transform: translateX(3rem) rotate(45deg)

      &:focus,
      &:hover
        outline: none
        background-color: $greyLighter

      &.left
        transform: rotate(45deg)
        left: -2rem

        .icon
          margin-left: 1rem
          margin-bottom: 1rem

      &.right
        transform: rotate(45deg)
        right: -2rem

        .icon
          margin-right: 1rem
          margin-top: 1rem

      .icon
        transform: rotate(-45deg)

    .close-button
      position: absolute
      top: 1rem
      right: 1rem
      border: none
      background-color: white
      border-radius: 2px
      width: 3rem
      height: @width
      cursor: pointer
      transition: background-color 270ms $base-easing, transform 270ms $base-easing

      &:focus,
      &:hover
        outline: none
        background-color: $greyLighter
</style>
