<template lang="html">
  <footer class="main-footer">
    <StadlerSpinner type="linear" />
    <div class="column-wrapper">
      <div class="column">
        <h5>{{data.columnOne.title[lang] || data.columnOne.title.en}}</h5>
        <p v-html="data.columnOne.description[lang] || data.columnOne.description.en" />
        <address v-html="data.columnOne.address" />
      </div>
      <div class="column">
        <h5>{{data.columnTwo.title[lang] || data.columnTwo.title.en}}</h5>
        <ul>
          <li v-for="(link, index) in linksForColumn('column-two')" :key="index">
            <g-link :to="link.url">
              {{link.name}}
            </g-link>
          </li>
        </ul>
      </div>
      <div class="column">
        <h5>{{data.columnThree.title[lang] || data.columnThree.title.en}}</h5>
        <ul>
          <li v-for="(link, index) in linksForColumn('column-three')" :key="index">
            <g-link :to="link.url">
              {{link.name}}
            </g-link>
          </li>
        </ul>
      </div>
    </div>
    <a class="scroll-top-button" href="#app">
      <FontAwesomeIcon :icon="icons['caretUp']" />
    </a>
    <p class="copyright">© {{currentYear}} Stadler GmbH</p>
  </footer>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faCaretUp as caretUp } from '@fortawesome/free-solid-svg-icons';

import { flattenLanguagePropertyString, flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

import data from '@/data/footer.json';

export default {
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll, { passive: true });
  },
  components: {
    FontAwesomeIcon,
  },
  computed: {
    currentYear() {
      return `2018 – ${new Date().getFullYear()}`;
    },
    linksForColumn() {
      return (column) => { // workaround to be able to pass an argument
        const columnSplit = column.split('-');
        const camelColumn = `${columnSplit[0]}${columnSplit[1][0].toUpperCase()}${columnSplit[1].slice(1)}`;
        const links = this.$static.data.edges.reduce((acc, edge) => {
          if (edge.node.tags.includes(column)) acc.push(flattenLanguagePropertyString(edge.node, this.lang));
          return acc;
        }, []);

        if (data[camelColumn].additionalLinks && Array.isArray(data[camelColumn].additionalLinks) && data[camelColumn].additionalLinks.length > 0) {
          const localizedLinks = data.columnTwo.additionalLinks
            .map((link) => flattenLanguageProperties(link, this.lang));
          const combinedLinks = links.concat(localizedLinks);
          combinedLinks.sort((a, b) => a.menuIndex - b.menuIndex);
          return combinedLinks.filter((link) => typeof link.name === 'string' && typeof link.url === 'string' && link.name && link.url); // filter out untranslated properties
        }
        return links.filter((link) => typeof link.name === 'string' && typeof link.url === 'string' && link.name && link.url); // filter out untranslated properties
      };
    },
    lang() {
      return this.$context.lang || this.$root.lang;
    },
  },
  data() {
    return {
      data,
      icons: {
        caretUp,
      },
    };
  },
  methods: {
    handleScroll() {
      const currentScrollTop = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
      if (currentScrollTop < window.innerHeight && this.$route.hash === '#app') {
        this.$router.replace({ hash: '' });
      }
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll, { passive: true });
  },
};
</script>

<static-query>
query {
  data: allPageNode(filter: { tags: { contains: "footer" } }, sortBy: "menuIndex", order: ASC) {
    edges {
      node {
        name { allLanguages },
        url { allLanguages },
        tags,
        menuIndex
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/fonts'
@require '../assets/styles/spacing'

$tabletPlus = "only screen and (max-width: 992px)"

.main-footer
  background-color: $greyLighter
  padding: 2rem 0 4rem 0
  position: relative

  .spinner
    color: $redDarker
    margin-bottom: 4rem
    margin-left: auto
    margin-right: auto

  .column-wrapper
    display: flex;
    max-width: $maxWidth
    margin: 0 auto

    @media $tabletPlus
      flex-wrap: wrap
      max-width: 46rem

    @media $tablet
      display: block

    .column
      width: 100%
      padding: 0 1rem
      margin-bottom: 4rem

      @media $tabletPlus
        min-width: 50%
        max-width: 50%

        &:nth-child(3)
          margin-left: auto

      @media $tablet
        width: 100%
        max-width: none
        min-width: 0

      h5
        margin-top: 0.5rem
        margin-bottom: 1.5rem
        padding-bottom: 0.25rem
        text-transform: uppercase
        font-size: 1rem
        font-weight: 400
        letter-spacing: 0.2em
        border-bottom: 1px solid #ccc

      p,
      address
        margin-bottom: 2rem
        line-height: 1.7
        font-size: 0.75rem
        font-weight: normal

      address
        margin-bottom: 1.5rem
        font-style:  normal
        line-height: 1.42857143

      ul
        font-size: 0.75rem
        list-style: none
        padding: 0
        margin: 0

        li
          padding-bottom: 1rem

          a
            color: #555
            text-decoration: none
            font-weight: normal
            transition: color 170ms $base-easing
            display: flex
            align-items: center

            &:hover,
            &:focus
              color: #999
              text-decoration: underline

  .scroll-top-button
    position: absolute
    bottom: 1.5rem
    right: @bottom
    width: 2.5rem
    height: @width
    line-height: @height
    text-align: center
    color: $textDarker
    opacity: 0.2
    font-size: 3rem
    transition: opacity 270ms $slide-easing

    &:hover,
    &:focus
      opacity: 1

  .copyright
    max-width: $maxWidth
    margin: 0
    margin-left: auto
    margin-right: auto
    text-align: center
    font-family: $font-heading
    font-size: 0.75rem
    opacity: 0.5
    text-transform: uppercase
    letter-spacing: 0.3em
</style>
