<template lang="html">
  <transition @enter="enter" @after-enter="afterEnter" @leave="leave">
    <section v-if="visible" class="banner">
      <div class="content-wrapper">
        <g-image v-if="image && image.src" :alt="image.alt" :src="image.src" :title="image.title" />
        <p v-if="body" v-html="body" />
        <button aria-label="Close banner" class="close-button" @click="$emit('close')">
          <FontAwesomeIcon class="icon" :icon="icons.close" />
        </button>
      </div>
    </section>
  </transition>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faTimes as close } from '@fortawesome/free-solid-svg-icons';

export default {
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      icons: {
        close,
      },
    };
  },
  methods: {
    afterEnter(el) {
      el.style.height = 'auto'; // eslint-disable-line no-param-reassign
    },
    enter(el) {
      /* eslint-disable no-param-reassign */
      const { width } = getComputedStyle(el);

      el.style.width = width;
      el.style.position = 'absolute';
      el.style.visibility = 'hidden';
      el.style.height = 'auto';

      const { height } = getComputedStyle(el);

      el.style.width = null;
      el.style.position = null;
      el.style.visibility = null;
      el.style.height = 0;

      // Force repaint to make sure the
      // animation is triggered correctly.
      getComputedStyle(el).height; // eslint-disable-line no-unused-expressions

      // Trigger the animation.
      // We use `requestAnimationFrame` because we need
      // to make sure the browser has finished
      // painting after setting the `height`
      // to `0` in the line above.
      requestAnimationFrame(() => {
        el.style.height = height;
      });
      /* eslint-enable no-param-reassign */
    },
    leave(el) {
      /* eslint-disable no-param-reassign */
      const { height } = getComputedStyle(el);

      el.style.height = height;

      // Force repaint to make sure the
      // animation is triggered correctly.
      getComputedStyle(el).height; // eslint-disable-line no-unused-expressions

      requestAnimationFrame(() => {
        el.style.height = 0;
      });
      /* eslint-enable no-param-reassign */
    },
  },
  props: {
    body: String,
    image: Object,
    visible: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.banner
  position: relative
  background-color: $textDarker
  color: white
  font-weight: normal
  z-index: 3
  border-bottom: 1px solid $text

  &.v-enter-active,
  &.v-leave-active
    overflow: hidden
    transition: height 270ms $base-easing

    &.v-enter,
    &.v-leave-to
      height: 0

  .content-wrapper
    display: flex
    align-items: center
    padding: 2rem
    max-width: calc(100% - 4rem)

    img,
    noscript >>> img
      margin-right: 1rem
      max-width: 6rem
      max-height: @max-width
      margin-left: auto

    img + p,
    noscript + p
      margin-left: (32 / 16)rem

    p
      margin: 0 auto
      max-width: $maxTextWidth

      >>> a
        color: $red

        &:hover
          color: $redDarker

    .close-button
      position: absolute
      right: 1rem
      border: none
      border-radius: 2px
      width: 3rem
      height: @width
      cursor: pointer
      background-color: $text
      color: white

    @media $mobile
      flex-direction: column
      max-width: none

      img,
      noscript >>> img
        margin: 0 auto (32 / 16)rem auto

      img + p,
      noscript + p
        margin: 0

      p:first-child
        margin-top: 3rem

      .close-button
        top: 1rem
</style>
