<template lang="html">
  <section class="tabs block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="tab-bar">
      <button v-for="(tab, index) in tabs" :class="{ active: activeTab === index }" :key="index" type="button" @click="activeTab = index">
        <ETLineIcon :key="tab.icon">{{tab.icon}}</ETLineIcon>
        <span>{{tab.label}}</span>
      </button>
    </div>
    <div class="tab-content">
      <transition mode="out-in">
        <StadlerText :columns="currentTab.columns" :key="activeTab" />
      </transition>
    </div>
    <StadlerSeparator v-if="separator" :background-image="currentTab.separatorBackground && currentTab.separatorBackground.src" :alt="currentTab.separatorBackground && currentTab.separatorBackground.alt" darkened :title="currentTab.separatorBackground && currentTab.separatorBackground.title">
      <transition mode="out-in">
        <div v-if="currentTab.separatorHeading || currentTab.separatorText || (currentTab.separatorCTALink && currentTab.separatorCTAText)" class="separator-content" :key="activeTab">
          <h3 v-if="currentTab.separatorHeading">{{currentTab.separatorHeading}}</h3>
          <p v-if="currentTab.separatorText">{{currentTab.separatorText}}</p>
          <g-link v-if="showCTA && currentTab.separatorCTA.href.startsWith('/')" class="button" :title="currentTab.separatorCTA.title" :to="currentTab.separatorCTA.href">{{currentTab.separatorCTA.label}}</g-link>
          <a v-if="showCTA && currentTab.separatorCTA.href.startsWith('#')" class="button" :href="currentTab.separatorCTA.href" :title="currentTab.separatorCTA.title">{{currentTab.separatorCTA.label}}</a>
          <a v-else-if="showCTA" class="button" :href="currentTab.separatorCTA.href" rel="nofollow noreferrer noopener" target="_blank" :title="currentTab.separatorCTA.title">{{currentTab.separatorCTA.label}}</a>
        </div>
      </transition>
    </StadlerSeparator>
  </section>
</template>

<script>
import ETLineIcon from '@/components/ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
  },
  computed: {
    currentTab() {
      if (!this.tabs) return {};
      return this.tabs[this.activeTab];
    },
    showCTA() {
      return this.currentTab.separatorCTA.label && this.currentTab.separatorCTA.href;
    },
  },
  data() {
    return {
      activeTab: 0,
    };
  },
  props: {
    heading: String,
    separator: Boolean,
    separatorBackground: [Object, String],
    tabs: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.tabs
  h2
    text-align: center
    margin-bottom: 4.5rem

  .tab-bar
    max-width: $maxWidth
    margin: 0 auto
    text-align: center

    button
      border: none
      background-color: transparent
      min-width: 8rem
      cursor: pointer
      color: $textLighter
      font-size: 0.875rem
      text-transform: uppercase
      letter-spacing: 2px
      transition: color 270ms $base-easing
      margin-bottom: 2rem

      @media $mobile
        min-width: calc(50% - 2rem)

      &:not(:last-child)
        margin-right: 2rem

        @media $mobile
          margin-right: 0

      &:focus
        outline: none

      &:hover,
      &:focus
        color: $text

      &.active
        color: $red

      .et-icon
        margin: 0 auto 1rem auto

  .tab-content
    margin-bottom: 2.6rem

  .v-enter-active,
  .v-leave-active
    transition: opacity 270ms $base-easing

    &.v-enter,
    &.v-leave-to
      opacity: 0

  .separator
    text-align: center
    padding: 4.5rem 0

    .separator-content
      :first-child
        margin-top: 0

      :last-child
        margin-bottom: 0
</style>
