<template lang="html">
  <section v-if="preview || filteredRelatedPages.length > 0" class="recovery block">
    <h2 v-if="heading">{{heading}}</h2>
    <div v-if="!preview" class="grid">
      <g-link v-for="(link, index) in filteredRelatedPages" class="card button" :key="index" :to="link.url">
        <span class="h4">{{link.name}}</span>
        <FontAwesomeIcon class="icon" :icon="angleRight" />
      </g-link>
    </div>
    <p v-else-if="relatedPages" class="preview-placeholder">Hier werden nach der Veröffentlichung alle Seiten mit den folgenden Tags als Buttons erscheinen: <strong>{{relatedPages.join(', ')}}</strong></p>
    <p v-else class="preview-placeholder">Dieser Block wird nach Veröffentlichung nicht sichtbar sein, da unter „<strong>Erweiterte Optionen</strong>“ keine verwandten Seiten aufgeführt sind.</p>
  </section>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleRight as angleRight } from '@fortawesome/free-solid-svg-icons';

export default {
  components: {
    FontAwesomeIcon,
  },
  computed: {
    filteredRelatedPages() {
      return this.relatedPages.filter((page) => page.url && page.name);
    },
  },
  data() {
    return {
      angleRight,
    };
  },
  props: {
    heading: String,
    preview: Boolean,
    relatedPages: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.recovery
  background-color: $text
  color: white
  margin-bottom: 0
  padding: 4.5rem 0

  h2
    max-width: $maxWidth
    margin-left: auto
    margin-right: auto
    text-align: center

  .grid
    margin: 0 auto
    max-width: "calc(%s + 2rem)" % $maxWidth
    display: flex
    // justify-content: center
    flex-wrap: wrap

    .card
      display: flex
      flex-grow: 1
      flex-shrink: 1
      flex-basis: calc(33.33% - 2rem) // IE doesn’t like calc in shorthand properties
      margin: 1rem
      text-align: left
      padding: 1rem 2rem
      padding-right: 1rem
      min-height: 6rem
      min-width: 18rem

      &:focus,
      &:hover
        color: $text
        background-color: white

      .h4
        margin: 0
        margin-right: auto
        white-space: normal
        display: block
        width: 100%
        flex-shrink: 1
        font-weight: 600
        max-width: calc(100% - 5rem)

      .icon
        width: 2rem
        height: @width
        flex-shrink: 0
        margin-left: 2rem
        align-self: flex-end
        border: 2px solid white
        border-radius: 50%
        padding: 0.5rem

  .preview-placeholder
    max-width: $maxTextWidth
    margin-left: auto
    margin-right: auto
    text-align: center
</style>
