<template lang="html">
  <transition @after-leave="$emit('after-close')">
    <div v-show="target && visible" class="tooltip" ref="body" :style="{ transform: `translate(${this.transform.x}px, ${this.transform.y}px)` }">
      <div class="content" ref="content">
        <slot />
      </div>
      <span class="arrow" :class="[positionOverride || position]" :style="{ top: `${arrowOffset.y}px`, left: `${arrowOffset.x}px` }" />
    </div>
  </transition>
</template>

<script>
function clamp(min, value, max) {
  return Math.max(Math.min(value, max), min);
}

export default {
  beforeUnmount() {
    window.removeEventListener('resize', this.update, { passive: true });
    window.removeEventListener('scroll', this.update, { passive: true });
    window.removeEventListener('mousedown', this.handleOutsideClick);
    window.removeEventListener('mouseup', this.handleOutsideClick);
  },
  computed: {
    remBase() {
      if (process.isServer) return 16;
      return Number.parseInt(window.getComputedStyle(document.documentElement).fontSize, 10);
    },
  },
  data() {
    return {
      arrowOffset: {
        x: 0,
        y: 0,
      },
      downInside: false,
      positionOverride: '',
      transform: {
        x: 0,
        y: 0,
      },
    };
  },
  emits: ['after-close', 'click-outside'],
  methods: {
    handleOutsideClick(e) {
      if (e.type === 'mousedown' && this.$refs.body.contains(e.target)) {
        this.downInside = true;
        return;
      }

      if (
        !this.downInside
        && !this.$refs.body.contains(e.target)
        && !this.target.contains(e.target)
        && e.target !== this.target
      ) this.$emit('click-outside');

      this.downInside = false;
    },
    update() {
      if (!this.target) return;

      // Using $refs instead of Data properties because it needs to be instant and waiting a tick for the update seems wasteful
      this.$refs.content.style.maxWidth = 'none';
      this.$refs.content.style.maxHeight = 'none';

      const rect = this.$refs.body.getBoundingClientRect();
      const targetRect = this.target.getBoundingClientRect();
      const windowRect = { width: window.innerWidth, height: window.innerHeight };
      const margin = 1 * this.remBase;

      const leftX = Math.round(targetRect.left - margin - rect.width);
      const leftY = clamp(margin, Math.round(targetRect.top + targetRect.height / 2 - rect.height / 2), Math.round(windowRect.height - margin - rect.height));
      const rightX = Math.round(targetRect.right + margin);
      const rightY = leftY;
      const topX = clamp(margin, Math.round(targetRect.left + targetRect.width / 2 - rect.width / 2), Math.round(windowRect.width - margin - rect.width));
      const topY = Math.round(targetRect.top - margin - rect.height);
      const bottomX = topX;
      const bottomY = Math.round(targetRect.bottom + margin);

      const leftPossible = leftX >= margin;
      const rightPossible = rightX + rect.width <= windowRect.width - margin;
      const topPossible = topY >= margin;
      const bottomPossible = bottomY + rect.height <= windowRect.height - margin;

      this.positionOverride = '';

      switch (this.position) {
        case 'left':
          if (leftPossible) {
            this.transform.x = leftX;
            this.transform.y = leftY;
          } else if (rightPossible) {
            this.transform.x = rightX;
            this.transform.y = rightY;
            this.positionOverride = 'right';
          } else if (topPossible) {
            this.transform.x = topX;
            this.transform.y = topY;
            this.positionOverride = 'top';
          } else {
            this.transform.x = bottomX;
            this.transform.y = bottomY;
            this.positionOverride = 'bottom';
          }
          break;
        case 'right':
          if (rightPossible) {
            this.transform.x = rightX;
            this.transform.y = rightY;
          } else if (leftPossible) {
            this.transform.x = leftX;
            this.transform.y = leftY;
            this.positionOverride = 'left';
          } else if (topPossible) {
            this.transform.x = topX;
            this.transform.y = topY;
            this.positionOverride = 'top';
          } else {
            this.transform.x = bottomX;
            this.transform.y = bottomY;
            this.positionOverride = 'bottom';
          }
          break;
        case 'top':
          if (topPossible || !bottomPossible) { // it’ll fit at the top anyway, but will get scaled down
            this.transform.x = topX;
            this.transform.y = Math.max(topY, margin);
          } else {
            this.transform.x = bottomX;
            this.transform.y = bottomY;
            this.positionOverride = 'bottom';
          }
          break;
        case 'bottom':
        default:
          if (bottomPossible || !topPossible) { // it’ll fit at the bottom anyway, but will get scaled down
            this.transform.x = bottomX;
            this.transform.y = bottomY;
          } else {
            this.transform.x = topX;
            this.transform.y = topY;
            this.positionOverride = 'top';
          }
      }

      const selectedPosition = this.positionOverride || this.position;
      let maxHeight;

      switch (selectedPosition) {
        case 'top':
          maxHeight = targetRect.top - Math.max(topY, margin) - margin;

          this.arrowOffset.x = clamp(0, Math.round(targetRect.left + targetRect.width / 2 - topX - 0.5 * this.remBase), rect.width);
          this.arrowOffset.y = Math.min(rect.height, maxHeight) - 1;

          this.$refs.content.style.maxWidth = `${windowRect.width - margin * 2}px`;
          this.$refs.content.style.maxHeight = `${maxHeight}px`;
          break;
        case 'left':
          this.arrowOffset.x = rect.width - 1;
          this.arrowOffset.y = clamp(0, Math.round(targetRect.top + targetRect.height / 2 - leftY - 0.5 * this.remBase), rect.height);

          this.$refs.content.style.maxWidth = `${windowRect.width - leftX - margin}px`;
          this.$refs.content.style.maxHeight = `${windowRect.height - leftY - margin}px`;
          break;
        case 'right':
          this.arrowOffset.x = -0.5 * this.remBase + 1;
          this.arrowOffset.y = clamp(0, Math.round(targetRect.top + targetRect.height / 2 - leftY - 0.5 * this.remBase), rect.height);

          this.$refs.content.style.maxWidth = `${windowRect.width - rightX - margin}px`;
          this.$refs.content.style.maxHeight = `${windowRect.height - rightY - margin}px`;
          break;
        case 'bottom':
        default:
          this.arrowOffset.x = clamp(0, Math.round(targetRect.left + targetRect.width / 2 - topX - 0.5 * this.remBase), rect.width);
          this.arrowOffset.y = -0.5 * this.remBase + 1;

          this.$refs.content.style.maxWidth = `${windowRect.width - margin * 2}px`;
          this.$refs.content.style.maxHeight = `${windowRect.height - bottomY - margin}px`;
      }
    },
  },
  props: {
    position: {
      type: String,
      default: 'bottom',
      validator: (v) => ['top', 'right', 'bottom', 'left'].includes(v),
    },
    target: {},
    visible: Boolean,
  },
  watch: {
    target(nv) {
      if (nv) this.$nextTick(this.update);
    },
    visible(nv) {
      if (nv) {
        this.$nextTick(() => {
          this.update();
          window.addEventListener('resize', this.update, { passive: true });
          window.addEventListener('scroll', this.update, { passive: true });
          window.addEventListener('mousedown', this.handleOutsideClick);
          window.addEventListener('mouseup', this.handleOutsideClick);
        });
      } else {
        window.removeEventListener('resize', this.update, { passive: true });
        window.removeEventListener('scroll', this.update, { passive: true });
        window.removeEventListener('mousedown', this.handleOutsideClick);
        window.removeEventListener('mouseup', this.handleOutsideClick);
      }
    },
  },
};
</script>

<style lang="stylus">
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.tooltip
  position: fixed
  top: 0
  left: 0
  background-color: $textDarker
  color: white
  z-index: 1

  &.v-enter-active,
  &.v-leave-active
    transition: opacity 270ms $base-easing

    &.v-enter,
    &.v-leave-to
      opacity: 0

  .content
    padding: 0.5rem 0.75rem
    overflow-x: hidden
    overflow-y: auto

  .arrow
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    border-left: 0.5rem solid transparent
    border-right: @border-left
    border-bottom: 0.5rem solid $textDarker

    &.top
      border-top: @border-bottom
      border-bottom: none

    &.right
      border-right: @border-bottom
      border-top: @border-left
      border-bottom: @border-top
      border-left: none

    &.left
      border-top: @border-left
      border-left: @border-bottom
      border-bottom: @border-top
      border-right: none
</style>
