<template lang="html">
  <section class="long-text block">
    <h2 v-if="heading">{{heading}}</h2>
    <article v-html="body" class="body" :class="{ separators }" />
  </section>
</template>

<script>
export default {
  props: {
    body: String,
    heading: String,
    separators: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.long-text
  max-width: $maxTextWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  .body
    &.separators
      >>> h2:not(:first-child),
      >>> h3:not(:first-child)
        margin-top: 2rem
        padding-top: 2rem
        border-top: 1px solid $greyLighter

    >>> h2
      margin-bottom: 1.5rem
      margin-top: 3rem
</style>
