<template lang="html">
  <div class="download-item">
    <g-image v-if="thumbnail && thumbnail.src && !imageError" :alt="thumbnail && thumbnail.alt" :src="thumbnail && thumbnail.src" :title="thumbnail && thumbnail.title" @error="handleLoadError" />
    <div v-else class="image-placeholder">
      <ETLineIcon>download</EtLineIcon>
    </div>
    <h2 class="h3">{{name}}</h2>
    <p class="date">{{date}}</p>
    <p class="description">{{description}}</p>
    <a class="button" :href="filePath">{{download}}</a>
  </div>
</template>

<script>
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';
import { download } from '@/data/commonStrings.json';

import ETLineIcon from '@/components/ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
  },
  data() {
    return {
      download: flattenLanguageProperties(download, this.lang),
      imageError: false,
    };
  },
  methods: {
    handleLoadError() {
      this.imageError = true;
    },
  },
  props: {
    date: String,
    description: String,
    filePath: String,
    lang: String,
    name: String,
    thumbnail: Object,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.download-item
  display: flex
  flex-direction: column

  img,
  noscript >>> img,
  .image-placeholder
    display: block
    margin: 0 auto
    box-shadow: 0 0 0.5rem alpha(black, 0.38)

  .image-placeholder
    background-color: $greyLighter
    height: (140 / 16)rem
    width: 50%
    display: flex
    align-items: center
    justify-content: center
    color: alpha($text, 0.5)

  h2
    margin-top: 0
    margin-bottom: 0.5rem
    padding-top: 1.5rem
    border-top: 1px solid currentColor
    background-color: white
    text-transform: none
    letter-spacing: (1 / 16)rem

  .date
    font-size: 0.875rem
    font-weight: normal
    letter-spacing: 1px
    color: $textLighter
    text-transform: uppercase

  .button
    margin-top: auto
</style>
