<template lang="html">
  <div class="employee-card">
    <div class="employee-image">
      <g-image v-if="src" :alt="alt || name" :src="src" />
      <div class="overlay">
        <h4>{{greeting}}</h4>
        <p v-html="message" />
        <a v-if="email" class="button light" :href="`mailto:${email}?subject=Webnachricht`">{{cta}}</a>
      </div>
    </div>
    <div class="employee-details">
      <p class="name">{{name}}</p>
      <p class="role">{{role}}</p>
    </div>
  </div>
</template>

<script>
import { employeeContactCta } from '@/data/commonStrings.json';

export default {
  computed: {
    cta() {
      const lang = this.$context.lang || this.$root.lang;
      return employeeContactCta[lang] || employeeContactCta.en;
    },
  },
  props: {
    alt: String,
    email: String,
    greeting: String,
    message: String,
    name: String,
    role: String,
    src: [Object, String],
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/fonts'

.employee-card
  text-align: center

  &:hover
    .employee-image .overlay
      opacity: 1

  &:focus-within // has to be separate so browsers with no support (like IE) at least use hover
    .employee-image .overlay
      opacity: 1

  &.wide .employee-image
    aspect-ratio: 1120 / 240

  .employee-image
    position: relative
    overflow: hidden
    background-color: $text
    aspect-ratio: 560 / 680

    img
    > noscript >>> img
      width: 100%
      filter: grayscale(1)
      display: block

    .overlay
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: @width
      z-index: 1
      padding: 2rem
      background-color: rgba(255, 255, 255, 0.9);
      opacity: 0
      transition: opacity 270ms $base-easing

      *
        flex-shrink: 0

      h4
        margin-top: 0

  .employee-details
    margin-top: 1.5rem

    .name,
    .role
      font-family: $font-heading
      text-transform: uppercase
      letter-spacing: 0.3em
      margin-bottom: 0.25rem
      font-weight: normal

    .role
      font-size: 0.875rem
      margin-bottom: 0
      color: $textLighter
</style>
