<template lang="html">
  <section class="block form">
    <h2 v-if="heading">{{ heading }}</h2>
    <div v-if="body" class="body" v-html="body" />
    <div v-if="cta && cta.label && cta.href" class="cta-wrapper">
      <g-link v-if="cta && cta.label && cta.href && cta.href.startsWith('/') && !cta.href.endsWith('.pdf')" class="button" :title="cta.title" :to="cta.href">{{ cta.label }}</g-link>
      <!-- The splitting of the href is a HACK. It is needed, because Gridsome prepends the absolute path of the file to it, but also means that no downloads in a subdirectory of /static will work -->
      <a v-else-if="cta && cta.label && cta.href && cta.href.startsWith('/') && cta.href.endsWith('.pdf')" class="button" download :href="`/${cta.href.split('/').pop()}`" :title="cta.title">{{ cta.label }}</a>
      <a v-else-if="cta && cta.label && cta.href && cta.href.startsWith('#')" class="button" :href="cta.href" :title="cta.title">{{ cta.label }}</a>
      <a v-else-if="cta && cta.label && cta.href" class="button" :href="cta.href" rel="nofollow noreferrer noopener" target="_blank" :title="cta.title">{{ cta.label }}</a>
    </div>
    <p v-if="highlight" class="highlight" v-html="highlight" />
    <form action="https://submit-form.com/ClnwwRrC" method="post">
      <input
        type="checkbox"
        name="catch"
        style="display:none"
        tabindex="-1"
        autocomplete="off"
      />
      <input
        type="hidden"
        name="_redirect"
        value="https://stadler-gmbh.de/form-thank-you/"
      />
      <input
        type="hidden"
        name="_error"
        value="https://stadler-gmbh.de/form-error/"
      />
      <input
        type="hidden"
        name="_append"
        value="false"
      />
      <div class="input-row">
        <label>
          <strong>Name</strong>
          <input name="Name" placeholder="Max Mustermann" ref="nameInput" required type="text">
        </label>
        <label>
          <strong>E-Mail Adresse</strong>
          <input name="Email" placeholder="mustermann@example.org" ref="emailInput" required type="email">
        </label>
      </div>
      <div class="input-row">
        <label>
          <strong>Firma (optional)</strong>
          <input name="Firma" placeholder="Musterfirma" type="text">
        </label>
        <label>
          <strong>Telefonnummer (optional)</strong>
          <input name="Telefonnummer" placeholder="0123 / 45 67 89-0" type="text">
        </label>
      </div>
      <div class="input-row">
        <label for=""><strong>Bitte Zutreffendes ankreuzen (Mehrfachauswahl möglich):</strong></label>
      </div>
      <div class="checkbox-row">
        <label>
          <input type="checkbox" name="Kommt_Vormittags">
          <p>Ich möchte an der <strong>Kunden-Feier</strong> ab <strong>10:00 Uhr</strong> teilnehmen</p>
        </label>
      </div>
      <div class="checkbox-row">
        <label>
          <input type="checkbox" name="Kommt_Nachmittags">
          <p>Ich möchte an der <strong>Stadler-Team-Feier</strong> ab <strong>18:00 Uhr</strong> teilnehmen</p>
        </label>
      </div>
      <div class="checkbox-row">
        <label>
          <input type="checkbox" name="Hotel_Reservieren">
          <p>Ich benötige ein <strong>Hotelzimmer zur Übernachtung</strong></p>
        </label>
      </div>
      <div class="checkbox-row legal">
        <label>
          <input type="checkbox" name="Datenverarbeitung_Zugestimmt" required>
          <p>Ich stimme zu, dass meine Daten zur Planung des Events verarbeitet und für die dazu notwendige Dauer gespeichert werden.</p>
        </label>
      </div>
      <footer>
        <button class="button" type="submit">{{ submitButtonLabel }}</button>
      </footer>
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  mounted() {
    const urlParams = new URL(window.location).searchParams;
    const name = urlParams.get('name');
    const email = urlParams.get('email');

    if (name) this.$refs.nameInput.value = name;
    if (email) this.$refs.emailInput.value = email;
  },
  props: {
    cta: Object,
    heading: String,
    body: String,
    formId: String,
    highlight: String,
    submitButtonLabel: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.form
  max-width: $maxTextWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  .cta-wrapper
    text-align: center

  .highlight
    margin: 4rem 0 3rem
    padding: 1rem
    background-color: $greyLighter
    border: (1 / 16)rem solid $red

  form
    margin-top: 3rem

    .input-row
    .checkbox-row
      display: flex;

      &:not(:last-child)
        margin-bottom: (24 / 16)rem;

      > *
        width: 100%;
        margin: 0;

      > :not(:last-child)
        margin-right: (24 / 16)rem;

      @media $mobile
        flex-direction: column

        > :not(:last-child)
          margin-right: 0
          margin-bottom: 1.5rem

      label
        display: flex;
        flex-wrap: wrap;

        > strong
          letter-spacing: 1px
          font-size: 0.75rem
          font-weight: 600
          text-transform: uppercase

        input, textarea
          margin-top: (8 / 16)rem;
          width: 100%;
          border: (1 / 16)rem solid $textLighter;
          border-radius: 0;
          background-color: transparent;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          padding: (8 / 16)rem;

          &::placeholder
            opacity: 0.5;
            color: $text;

          &:focus
            border-color: $redDarker;
            background-color: $greyLighter;
            border-radius: 2px;
            outline: none;

        textarea
              resize: vertical;
              min-height: (128 / 16)rem;

    .checkbox-row
      &.legal
        padding-top: 1.5rem
        border-top: 1px solid $greyLighter

      label
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
        cursor: pointer

        input[type="checkbox"]
          cursor: inherit
          -webkit-appearance: none
          appearance: none
          background-color: transparent
          margin: 0
          margin-top: 0.1rem
          margin-right: 0.5rem
          width: 1.25rem
          height: @width
          font: inherit
          color: inherit
          display: grid
          place-content: center

          &:focus-visible
            background-color: $greyLighter

          &::before
            content: ''
            width: 0.75rem
            height: @width
            background-color: $red
            transform: scale(0)
            transition: transform 150ms $base-easing

          &:checked::before
            transform: none

        p
          margin: 0

    footer
      margin-top: 3rem
      display: flex
      justify-content: center

      button
        line-height: inherit
        border: none
        padding: 0.5rem 2rem
        font-size: 0.875rem
        color: white // lowering the opacity to 0.8 makes the text really unreadable
        border-radius: 2px
        background-color: $red
        font-weight: 600
        text-transform: uppercase
        letter-spacing: 2px
        display: inline-block
        text-align: center
        text-decoration: none
        vertical-align: middle
        cursor: pointer
        touch-action: manipulation
        white-space: nowrap
        user-select: none
        max-width: 100%
        text-overflow: ellipsis
        overflow: hidden
        transition: color 270ms $base-easing, background-color 270ms $base-easing

        &.light
          background-color: white
          color: black

        &:hover,
        &:focus
          color: white
          background-color: alpha(black, 0.7)
          outline: none
</style>
