<template lang="html">
  <section class="accordeon block">
    <h2 v-if="heading">{{heading}}</h2>
    <StadlerAccordeon :initial-active="0" :items="items" :red-accent="redAccent" />
  </section>
</template>

<script>
export default {
  props: {
    heading: String,
    items: Array,
    redAccent: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/spacing'

.accordeon.block
  max-width: $maxTextWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  h2
    text-align: center
</style>
