<template lang="html">
  <StadlerIntersectionGuard @enter="handleEnter" @leave="handleLeave">
    <section class="gltf block" :class="{ bg: backgroundColor, light: lightText && backgroundColor }" :style="{ backgroundColor }">
      <div class="content">
        <h2 v-if="heading">{{heading}}</h2>
        <p v-if="body" v-html="body" />
        <canvas ref="output" />
      </div>
    </section>
  </StadlerIntersectionGuard>
</template>

<script>
import {
  AmbientLight,
  // Color,
  DirectionalLight,
  PerspectiveCamera,
  PointLight,
  Scene,
  WebGLRenderer,
} from 'three';

import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';

export default {
  beforeDestroy() {
    window.cancelAnimationFrame(this.animationFrame);
  },
  data() {
    return {
      animationFrame: null,
      camera: null,
      controls: null,
      initialised: false,
      renderer: null,
      scene: null,
    };
  },
  methods: {
    animate() {
      this.animationFrame = window.requestAnimationFrame(this.animate);
      this.controls.update();
      this.render();
    },
    handleEnter() {
      const rect = this.$refs.output.getBoundingClientRect();
      this.renderer.setSize(rect.width, rect.height, false);
      this.controls.autoRotate = true;
      this.animate();
    },
    handleLeave() {
      this.controls.autoRotate = false;
      window.cancelAnimationFrame(this.animationFrame);
      this.animationFrame = null;
    },
    render() {
      this.renderer.render(this.scene, this.camera);
    },
  },
  mounted() {
    if (!this.modelUrl) return;
    this.scene = new Scene();
    // this.scene.background = new Color(0xdddddd);

    this.camera = new PerspectiveCamera(40, 16 / 9, 1, 5000);
    this.camera.rotation.x = 800;
    this.camera.rotation.y = (45 / 180) * Math.PI;
    this.camera.position.y = 100;
    this.camera.position.z = 1000;

    this.renderer = new WebGLRenderer({ alpha: true, antialias: true, canvas: this.$refs.output });

    const globalLight = new AmbientLight(0x404040, 1);
    this.scene.add(globalLight);

    const directionalLight = new DirectionalLight(0xffffff, 1);
    directionalLight.position.set(0, 1, 0);
    // directionalLight.castShadow = true;
    // this.scene.add(directionalLight);

    const pl1 = new PointLight(0xc4c4c4, 1);
    pl1.position.set(0, 300, 500);
    // this.scene.add(pl1);

    const pl2 = new PointLight(0xc4c4c4, 1);
    pl2.position.set(500, 100, 0);
    // this.scene.add(pl2);

    const pl3 = new PointLight(0xc4c4c4, 1);
    pl3.position.set(0, 100, -500);
    // this.scene.add(pl3);

    const pl4 = new PointLight(0xc4c4c4, 1);
    pl4.position.set(-500, 300, 500);
    // this.scene.add(pl4);

    const loader = new GLTFLoader();
    loader.load(`${this.modelUrl}.gltf`, (gltf) => {
      const esjet = gltf.scene.children[0];
      esjet.scale.set(400, 400, 400);
      esjet.position.set(0, -40, 0);
      this.scene.add(gltf.scene);
    });

    this.controls = new OrbitControls(this.camera, this.renderer.domElement);
    this.controls.enableDamping = true;
    this.controls.enableZoom = true;
    this.controls.enablePan = false;
  },
  props: {
    backgroundColor: String,
    body: String,
    heading: String,
    lightText: Boolean,
    modelUrl: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.gltf
  padding: 0 1rem

  &.bg
    padding-top: 6rem
    padding-bottom: @padding-top

  &.light
    color: white

    >>> a:not(:hover)
      color: inherit

  .content
    max-width: $maxWidth
    margin-left: auto
    margin-right: auto

    h2
      text-align: center
      margin-top: 0

    p
      max-width: $maxTextWidth
      text-align: center
      margin-left: auto
      margin-right: auto

      @media $mobile
        text-align: left

    canvas
      width: 100%
      max-width: 100%
      aspect-ratio: 16 / 9
      // background-color: $textLighter
</style>
