<template lang="html">
  <section v-if="filteredDownloads.length > 0" class="specific-download-items block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="downloads" :class="{ centered: filteredDownloads.length < 4 }">
      <StadlerDownloadItem
        v-for="(item, index) in filteredDownloads"
        :date="item.date"
        :description="item.description"
        :file-path="item.file && item.file.src"
        :key="index"
        :lang="lang"
        :name="item.name"
        :thumbnail="item.thumbnail"
      />
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    filteredDownloads() {
      if (this.preview) return this.downloads.map((item) => ({ description: 'Echte Daten für den Download mit dieser ID werden nach Veröffentlichung angezeigt.', name: item }));
      return this.downloads.filter((item) => item.languages.includes(this.lang));
    },
  },
  props: {
    downloads: Array,
    heading: String,
    lang: String,
    preview: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.specific-download-items
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  h2
    text-align: center
    margin-bottom: 4rem

  .downloads
    display: flex
    flex-wrap: wrap
    margin-bottom: -6rem

    &.centered
      justify-content: center

    .download-item
      margin: 0 1rem 6rem 1rem
      width: calc(25% - 2rem)

      @media $smallerThanMaxWidth
        width: calc(33.33% - 2rem)

      @media $tablet
        width: calc(50% - 2rem)

      @media $mobile
        width: 100%
</style>
