<template lang="html">
  <section class="columns block" :class="[columnClass]">
    <div v-for="(column, index) in columns" class="column" :key="index">
      <h2 v-if="column.heading">{{column.heading}}</h2>
      <g-image v-if="column.image && srcForColumn(index)" :alt="column.image.alt" :src="srcForColumn(index)" :title="column.image.title" />
      <div v-if="column.body" v-html="column.body" />
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    columnClass() {
      if (!this.columns) return '';
      if (this.columns.length === 1) return 'one';
      if (this.columns.length === 2) return 'two';
      return 'three';
    },
  },
  methods: {
    srcForColumn(column) {
      if (!this.columns) return false;
      if (this.columns.length === 1) return this.columns[column].image && this.columns[column].image.wideSrc;
      if (this.columns.length === 2) return this.columns[column].image && this.columns[column].image.midSrc;
      return this.columns[column].image && this.columns[column].image.narrowSrc;
    },
  },
  props: {
    columns: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.columns
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  &.three
    @media screen and (max-width: 60rem)
      display: block;

      .column
        margin-left: auto
        margin-right: auto
        margin-bottom: 3rem

  .column
    @media $tablet
      margin-bottom: 3rem

    &:only-child
      text-align: left

      > img,
      > noscript >>> img
        max-width: $maxWidth
        position: relative
        left: 50%
        transform: translateX(-50%)

    > h2
      text-align: center

    > img,
    > noscript >>> img
      display: block
      max-width: 100%
      margin: 0 auto
      margin-bottom: 2rem
</style>
