<template lang="html">
  <g-link class="link-card" :class="{ 'no-image': !image }" :to="href">
    <p class="h4">{{heading}}</p>
    <g-image v-if="image" :alt="alt" :src="image" :title="title" />
    <p class="overlay" :style="{ backgroundColor: color }">
      {{more}}
      <FontAwesomeIcon class="icon" :icon="angleRight" />
    </p>
  </g-link>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleRight as angleRight } from '@fortawesome/free-solid-svg-icons';

import { more } from '@/data/commonStrings.json';
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

export default {
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      ...flattenLanguageProperties({ more }, this.lang),
      angleRight,
    };
  },
  props: {
    alt: String,
    color: String,
    heading: String,
    href: String,
    image: [Object, String],
    lang: {
      type: String,
      default: 'de',
    },
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.link-card
  display: inline-block
  text-decoration: none
  text-align: center
  position: relative

  &.no-image
    &::after
      content: ''
      display: block
      padding-top: (200 / 360 * 100)%
      background-color: $textDarker

  &:hover,
  &:focus
    color: inherit

    img,
    noscript >>> img
      filter: none

    p.overlay
      background-color: alpha(black, 0.7) !important // needed so we can overwrite the custom color set via style

  p.h4
    margin-bottom: 0.5rem
    font-size: 1rem

  img,
  noscript >>> img
    display: block
    height: 12.5rem
    max-width: 22.5rem
    width: 100%
    object-fit: cover
    font-family: 'object-fit: cover;'
    filter: grayscale()

  p.overlay
    background-color: $red
    color: white
    font-weight: normal
    padding: 0.25rem
    text-transform: uppercase
    margin: 0
    position: absolute
    bottom: 0
    width: 100%
    letter-spacing: 0.1rem
    font-size: 0.875rem
    transition: background-color 270ms $base-easing

    .icon
      margin-left: 0.25rem
</style>
