<template lang="html">
  <section class="block blogroll" :class="{ slim }">
    <ul v-if="categories && !slim && !preview" class="category-selector">
      <g-link v-slot="{ href, navigate, isActive, isExactActive }" custom :to="localizedAllNewsUrl">
        <li :class="{ active: isExactActive || (isActive && !activeCategory)}">
          <a :href="href" @click="navigate">{{allNews}}</a>
        </li>
      </g-link>
      <g-link v-for="category in sortedCategories" v-slot="{ href, navigate, isActive }" custom :key="category.id" :to="category.url">
        <li :class="{ active: isActive }">
          <a :href="href" @click="navigate">{{category.label}}</a>
        </li>
      </g-link>
    </ul>
    <StadlerBlogPostCard
      v-for="(post, index) in posts"
      :authors="post.authors"
      :categories="post.categories"
      :date="post.date"
      :excerpt="post.excerpt"
      :hero="post.heroVideo ? { type: 'video', src: post.heroVideo, thumbnail: { ...post.heroImage } } : { type: 'image', ...post.heroImage }"
      :key="index"
      :lang="lang"
      :name="post.name"
      :path="post.path"
      :slim="slim"
      :teaser="post.teaser"
    />
    <div v-if="posts.length === 0 && !preview" class="empty-state">
      <h2>{{emptyStateHeading}}</h2>
      <p>{{emptyStateBody}}</p>
    </div>
    <div v-else-if="preview" class="preview-state">
      <h2 v-if="!slim">Vorschau</h2>
      <p>Hier werden in der veröffentlichten Version eine Reihe von Blog-Posts in chronologischer Reihenfolge angezeigt.</p>
    </div>
    <Pager v-if="pageInfo" class="pager" :info="pageInfo" link-class="pagination button" :range="3" :show-navigation="false" />
  </section>
</template>

<script>
import { Pager } from 'gridsome';

import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';
import { apology, allNews, blogEmptyStateBody } from '@/data/commonStrings.json';

export default {
  components: {
    Pager,
  },
  computed: {
    allNews() {
      return flattenLanguageProperties(allNews, this.lang);
    },
    localizedAllNewsUrl() {
      return JSON.parse(this.$static.newsPage.url.allLanguages)[this.lang];
    },
    emptyStateHeading() {
      return flattenLanguageProperties(apology, this.lang);
    },
    emptyStateBody() {
      return flattenLanguageProperties(blogEmptyStateBody, this.lang);
    },
    sortedCategories() {
      if (!this.categories) return [];
      return [...this.categories].sort((a, b) => a.label.localeCompare(b.label));
    },
  },
  data() {
    return {
    };
  },
  props: {
    activeCategory: String,
    categories: Array,
    lang: String,
    pageInfo: Object,
    posts: Array,
    preview: Boolean,
    slim: Boolean,
  },
};
</script>

<static-query>
query {
  newsPage: pageNode(id: "news") {
    url { allLanguages }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.block.blogroll
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  &.slim
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: -1rem

    .blog-post-card
      max-width: 50%
      flex: 1 1 calc(33.33% - 2rem)
      margin: 1rem

      >>> .post-wrapper
        display: flex
        flex-direction: column
        height: "calc(100% - %s)" % ((25 + 8) / 16)rem

        h3
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

          @media $tablet
            white-space: normal

        .button
          margin-top: auto

      &:not(:last-child)
        margin-bottom: 1rem

      // @media $tablet
      //   flex-basis: calc(50% - 2rem)

      @media $tablet
        max-width: none
        flex-basis: 100%

  .category-selector
    list-style: none
    margin: 0
    margin-bottom: 4rem
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center

    @media $tablet
      flex-wrap: nowrap
      justify-content: flex-start
      overflow-x: auto
      margin-bottom: 2rem
      margin-left: -1rem
      margin-right: -1rem
      scroll-snap-type: x mandatory
      scrollbar-width: none
      -ms-overflow-style: none

      &::-webkit-scrollbar
        display: none

      li
        scroll-snap-align: center

    li
      margin: 0.25rem 0
      font-size: 0.875rem
      border-radius: 2px
      font-weight: 600
      color: $textHover
      text-transform: uppercase
      letter-spacing: 2px
      text-align: center
      cursor: pointer
      touch-action: manipulation
      white-space: nowrap
      user-select: none
      text-overflow: ellipsis
      overflow: hidden
      flex-shrink: 0
      transition: color 270ms $base-easing, background-color 270ms $base-easing

      &:hover
        color: $text

      &.active
        background-color: $red
        color: white
        margin: 0.25rem 0.5rem

      a
        padding: 0.5rem 1rem
        color: inherit
        text-decoration: none
        display: inline-block

        &:focus
          color: $text

  .blog-post-card
    &:not(:last-child)
      margin-bottom: 6rem

  .empty-state,
  .preview-state
    max-width: $maxTextWidth

  .pager
    text-align: center
    margin-top: -3rem

    .pagination.button
      padding: 0.5rem 1rem

      &:not(:hover):not(:focus)
        background-color: $greyLighter
        color: $text

      &:not(:last-child)
        margin-right: 0.5rem

      &.active--exact:not(:hover):not(:focus)
        background-color: $red
        color: white
</style>
