<template lang="html">
  <section class="logo-bucket block">
    <div class="columns">
      <section v-for="(bucket, index) in buckets" class="column" :key="index">
        <StadlerSpinner v-if="bucket.icon === 'stadler-logo'" type="static" />
        <ETLineIcon v-else :key="bucket.icon">{{bucket.icon}}</ETLineIcon>
        <h3 v-if="bucket.heading">{{bucket.heading}}</h3>
        <div v-if="bucket.body" class="body-wrapper" v-html="bucket.body" />
      </section>
    </div>
  </section>
</template>

<script>
import ETLineIcon from '@/components/ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
  },
  props: {
    buckets: Array,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.logo-bucket
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  .column
    .et-icon,
    .spinner
      margin-left: auto
      margin-right: auto

    .spinner
      color: $redDarker

    > h3
      text-align: center
      margin-top: 1.5rem

</style>
