<template lang="html">
  <section class="single-image block" :class="{ bg: backgroundColor, light: lightText && backgroundColor }" :style="{ backgroundColor }">
    <div class="content">
      <h2 v-if="heading">{{heading}}</h2>
      <p v-if="body" v-html="body" />
      <g-image v-if="image && image.src" :alt="image.alt" :class="{ 'only-child': !heading && !body }" :src="image.src" :title="image.title" />
      <g-image v-if="mobileFallback && mobileFallback.src" :alt="mobileFallback.alt" class="mobile" :class="{ 'only-child': !heading && !body }" :src="mobileFallback.src" :title="mobileFallback.title" />
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    mobileFallback() {
      if (this.mobileImage && this.mobileImage.src) return this.mobileImage;
      return this.image;
    },
  },
  props: {
    backgroundColor: String,
    body: String,
    heading: String,
    image: Object,
    lightText: Boolean,
    mobileImage: Object,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.single-image
  padding: 0 1rem

  &.bg
    padding-top: 6rem
    padding-bottom: @padding-top

  &.light
    color: white

    >>> a:not(:hover)
      color: inherit

  .content
    max-width: $maxWidth
    margin-left: auto
    margin-right: auto

    h2
      text-align: center
      margin-top: 0

    p
      max-width: $maxTextWidth
      text-align: center
      margin-left: auto
      margin-right: auto

      @media $mobile
        text-align: left

    img,
    noscript >>> img
      max-width: 100%
      margin: 0 auto
      display: block

      &:not(.only-child)
        margin-top: 4rem

      @media $mobile
        display: none

      &.mobile
        display: none

        @media $mobile
          display: block
</style>
