<template lang="html">
  <section class="employee-list block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="grid">
      <StadlerEmployeeCard
      v-for="(employee, index) in employees"
      :alt="employee.image && employee.image.alt"
      :class="[cardSize]"
      :key="index"
      :email="employee.email"
      :greeting="employee.greeting"
      :message="employee.message"
      :name="employee.name"
      :src="employee.image && (employee.image[`${cardSize}Src`] || employee.image.src)"
      :role="employee.role"
      />
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    cardSize() {
      const cards = this.employees.length;

      if (cards === 1) return 'wide';
      if (cards === 2) return 'large';
      if (cards <= 6) return 'medium';
      return 'small';
    },
  },
  props: {
    employees: Array,
    heading: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.employee-list
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  overflow-x: hidden
  padding: 0 1rem

  h2
    text-align: center

  .grid
    display: flex
    flex-wrap: wrap
    margin: 0 -1rem

    @media $smallerThanMaxWidth
      margin: 0 -0.5rem

    @media $mobile
      display: block
      margin: 0

    .employee-card
      margin: 1rem

      @media $smallerThanMaxWidth
        margin: 0.5rem

      @media $mobile
        margin: 0

        &:not(:last-child)
          margin-bottom: 3rem

      &.wide
        width: 100%

      &.large
        width: calc(50% - 2rem)

        @media $smallerThanMaxWidth
          width: calc(50% - 1rem)

        @media $mobile
          width: 100%

      &.medium
        width: calc(33% - 2rem)

        @media $smallerThanMaxWidth
          width: calc(33% - 1rem)

        @media $mobile
          width: 100%

      &.small
        width: calc(25% - 2rem)

        @media $smallerThanMaxWidth
          width: calc(25% - 1rem)

        @media $mobile
          width: 100%

</style>
