<template lang="html">
  <div class="pagination-bubbles">
    <div v-for="bubble in total" class="bubble" :class="{active: current === bubble}" :key="bubble" @click="$emit('click', bubble)"></div>
  </div>
</template>

<script>
export default {
  props: {
    current: {
      type: Number,
      default: 1,
    },
    total: {
      type: Number,
      default: 2,
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'

$bubbleColor = white

.pagination-bubbles
  opacity: 0.7
  text-align: center
  height: 0.75rem
  line-height: @height

  .bubble
    border: 2px solid $bubbleColor
    width: 0.625rem
    height: @width
    border-radius: (@width / 2)rem
    position: relative
    display: inline-block
    cursor: pointer
    transform: scale(0.666)
    transition: transform 270ms $base-easing

    &:not(:last-child)
      margin-right: 0.25rem

    &::after
      position: absolute
      top: -1px
      left: @top
      width: 0.5rem
      height: @width
      border-radius: (@width / 2)rem
      content: ''
      background-color: $bubbleColor
      transition: transform 270ms $base-easing

    &.active
      transform: none

      &::after
        transform: scale(0)

</style>
