<template lang="html">
  <section class="values block">
    <h2>{{values.title}}</h2>
    <div class="columns">
      <div v-for="(column, index) in values.columns" class="column" :key="index">
        <ETLineIcon>{{column.icon}}</ETLineIcon>
        <h3>{{column.title}}</h3>
        <p>{{column.body}}</p>
      </div>
    </div>
  </section>
</template>

<script>
import ETLineIcon from '@/components/ETLineIcon.vue';
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';
import data from '@/data/values.json';

export default {
  components: {
    ETLineIcon,
  },
  computed: {
    values() {
      return flattenLanguageProperties(data, this.lang);
    },
  },
  props: {
    lang: {
      type: String,
      default: 'de',
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/spacing'

.values
  max-width: $maxWidth
  margin: 0 auto

  h2
    text-align: center

  .columns
    flex-wrap: wrap

    @media $tablet
      display: block
      padding: 0 1rem

    .column
      margin: 0
      margin-top: 4.5rem
      width: calc(33.33% - 2rem)

      @media $desktopSmall
        width: calc(50% - 2rem)

      @media $tablet
        width: 100%
        margin-left: auto
        margin-right: auto

      .et-icon
        margin: 0 auto
        margin-bottom: 2rem

      h3
        text-align: center
</style>
