<template lang="html">
  <nav class="main-nav" :class="{ expanded: menuExpand, scrolled }">
    <g-link class="logo-wrapper" :to="homeLink">
      <StadlerLogo />
    </g-link>
    <transition>
      <FontAwesomeIcon class="menu-button" :icon="icons[menuExpand ? 'cross' : 'menu']" :key="menuExpand ? 'cross' : 'menu'" @click="menuExpand = !menuExpand" />
    </transition>
    <ul @click="menuExpand = false">
      <li v-for="(link, index) in localizedLinks" :key="index" @mouseenter="link.path === $route.path ? showSubNav = true : null" @mouseleave="showSubNav = false">
        <g-link :to="link.path" :exact="link.path === homeLink">
          {{link.label}}
          <FontAwesomeIcon v-if="link.submenu && $route.path === link.path" :icon="icons['angleDown']" />
        </g-link>
        <template v-if="link.submenu && $route.path === link.path">
          <transition>
            <ul v-show="showSubNav || menuExpand">
              <li v-for="(sublink, index) in link.submenu" :key="`sublink-${index}`">
                <a v-if="sublink.path.startsWith('#')" :href="sublink.path">{{sublink.label}}</a>
                <g-link v-else :to="sublink.path">{{sublink.label}}</g-link>
              </li>
            </ul>
          </transition>
        </template>
      </li>
    </ul>
    <div class="language-selector">
      <g-link v-for="lang in supportedLanguages" active-class="g-link-active" :class="{ active: currentLang === lang }" :key="lang" :to="urlForLang(lang)" @click.native.prevent="switchLanguage(lang)">
        <img :src="require(`@/assets/images/flags/${lang}.svg`)" :alt="`Flag ${lang}`">
      </g-link>
    </div>
  </nav>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleDown as angleDown, faBars as menu, faTimes as cross } from '@fortawesome/free-solid-svg-icons';

import { fallbackLanguage, supportedLanguages } from '@/data/supportedLanguages.json';

import { flattenLanguagePropertyString } from '@/assets/js/flattenLocalizedProperties';

export default {
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll, { passive: true });
  },
  components: {
    FontAwesomeIcon,
  },
  computed: {
    currentLang() {
      return this.$context.lang || this.$root.lang;
    },
    homeLink() {
      if (this.currentLang === 'de') return '/';
      if (this.supportedLanguages.includes(this.currentLang)) return `/${this.currentLang}/`;
      return '/en/';
    },
    localizedLinks() {
      const lang = this.supportedLanguages.includes(this.currentLang) ? this.currentLang : fallbackLanguage;

      const localizedLinks = this.$static.data.edges.reduce((result, node) => {
        const localizedNode = flattenLanguagePropertyString(node, lang).node;

        // skip all nodes that don’t have a localized name or url
        if (!localizedNode.name || !localizedNode.url) return result;

        const localizedLink = {
          label: localizedNode.name,
          path: localizedNode.url,
        };

        // if they have a non-empty content-array there might have to be a submenu
        if (localizedNode.content && localizedNode.content.length > 0) {
          const submenu = localizedNode.content.reduce((subresult, shortlink) => {
            if (!shortlink.id || !shortlink.shortLinkLabel) return subresult;

            subresult.push({
              label: shortlink.shortLinkLabel,
              path: `#${shortlink.id}`,
            });
            return subresult;
          }, []);
          if (submenu.length > 0) localizedLink.submenu = submenu;
        }

        result.push(localizedLink);
        return result;
      }, []);
      return localizedLinks;
    },
  },
  // this could be used to redirect to a language specific page if the locales don’t match
  // but I don’t know the impact on SEO and I think there might be a better option, since this basically loads the page twice and flashes
  // created() {
  //   if (this.$root.lang !== this.$context.lang) this.$router.push(this.urlForLang(this.$root.lang));
  // },
  data() {
    return {
      icons: {
        angleDown,
        menu,
        cross,
      },
      menuExpand: false,
      scrolled: false,
      showSubNav: false,
      supportedLanguages,
    };
  },
  methods: {
    handleScroll() {
      const currentScroll = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop);
      if (currentScroll > 48) this.scrolled = true;
      else this.scrolled = false;
    },
    switchLanguage(lang) {
      this.$root.lang = lang;
    },
    urlForLang(lang) {
      // HACK: The only way to get the URLs of the current page for other languages
      // is to query them in the template, which causes them to be available under this.$page
      // it’s far from ideal, but it works
      // this.$page.data.url gets queried as allLanguages, so it’s a stringified JSON object
      if (this.$page && this.$page.data && this.$page.data.url && this.$page.data.url.allLanguages && JSON.parse(this.$page.data.url.allLanguages)[lang]) {
        return JSON.parse(this.$page.data.url.allLanguages)[lang];
      }
      if (this.$static && this.$static.data && this.$static.data.url && this.$page.data.url.allLanguages && JSON.parse(this.$static.data.url.allLanguages)[lang]) {
        return JSON.parse(this.$static.data.url.allLanguages)[lang];
      }

      if (lang === 'de') return '/';
      if (this.supportedLanguages.includes(lang)) return `/${lang}/`;
      return `/${fallbackLanguage}/`;
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll, { passive: true });
  },
};
</script>

<static-query>
query {
  data: allPageNode(filter: { tags: { contains: "main-menu" } }, sortBy: "menuIndex", order: ASC) {
    edges {
      node {
        name { allLanguages },
        url { allLanguages },
        content {
          id,
          shortLinkLabel { allLanguages }
        }
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.main-nav
  background-color: $text
  color: white
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 1.5rem 2rem
  z-index: 9
  display: flex
  align-items: center
  transition: padding 270ms $base-easing

  &.scrolled
    padding-top: 0.5rem
    padding-bottom: @padding-top

  @media $desktopSmall
    display: block
    padding: 1.5rem 0
    height: 5.5rem
    overflow: hidden
    transition: height 270ms $base-easing, padding 270ms $base-easing

    &.scrolled
      height: 3.5rem

      .menu-button
        top: 1rem

    &.expanded
      height: 100vh
      // overflow: auto

  .logo-wrapper
    color: $red
    display: block
    cursor: pointer
    margin-right: 2rem

    @media $desktopSmall
      padding-left: 0.5rem
      margin-bottom: 1.5rem
      display: inline-block

    .logo
      height: 2.5rem
      display: block

  .menu-button
    display: none
    font-size: 1.5rem
    width: 1.5rem
    height: @width
    position: absolute
    right: 1rem
    top: 2rem
    transition: top 270ms $base-easing

    &.v-enter-active,
    &.v-leave-active
      transition: opacity 270ms $base-easing, transform 270ms $base-easing

      &.v-enter,
      &.v-leave-to
        opacity: 0
        transform: scale(0.5)

    @media $desktopSmall
      display: block

  ul
    list-style: none
    padding: 0
    margin: 0
    margin-left: auto
    margin-right: 2rem

    @media $desktopSmall
      margin-right: 0
      margin-bottom: 2rem
      overflow: auto
      overflow-behavior: contain
      max-height: calc(100vh - 10.5rem)

    li
      display: inline-block
      position: relative

      @media $desktopSmall
        display: block

      &:not(:last-child)
        margin-right: 2rem

        @media $desktopSmall
          margin-right: 0

      &:hover ul
        display: block !important

      a
        color: inherit
        white-space: nowrap
        text-decoration: none
        text-transform: uppercase
        letter-spacing: 1px
        font-size: 0.75rem
        font-weight: 600
        transition: color 270ms $base-easing

        @media $desktopSmall
          padding: 1rem
          display: block

        &:hover,
        &.active
          color: $red

        .fa-angle-down
          margin-left: 0.125rem

          &.v-enter-active
            transition: transform 200ms $base-easing

            &.v-enter
              transform: translateY(0.25rem)

      ul
        display: none
        position: absolute
        left: -1rem
        padding-top: 1rem
        background-color: $text
        min-width: 12.5rem

        @media $desktopSmall
          position: static
          background-color: $textDarker
          padding-top: 0
          display: block
          margin-bottom: 0

        &.v-enter-active,
        &.v-leave-active
          display: block
          transition: opacity 270ms $base-easing

          &.v-enter,
          &.v-leave-to
            opacity: 0

        li
          padding: 0.5rem 1rem
          display: block

          @media $desktopSmall
            padding: 0

          &:not(:last-child)
            margin: 0

          a
            text-transform: none
            letter-spacing: normal
            font-size: 0.875rem

  .language-selector
    white-space: nowrap

    @media $desktopSmall
      text-align: center

    a
      display: inline-block
      border: none
      background-color: transparent
      padding: 0
      cursor: pointer
      opacity: 0.8
      outline-offset: 1px
      vertical-align: middle

      &:not(:last-child)
        margin-right: 0.5rem

        @media $desktopSmall
          margin-right: 2rem

      &.active
        outline: 1px solid $red
        opacity: 1

      &:hover,
      &:focus
        opacity: 1
        outline: 1px solid white

      img
        width: 1.5rem
        display: block
</style>
