<template lang="html">
  <section class="separator" :class="{ 'no-bg': !src, 'small-padding': smallPadding }">
    <transition>
      <div v-if="src" class="bg-wrapper" :class="{ darkened }" :key="src.src">
        <g-image class="fixed-bg" :alt="alt" draggable="false" :src="src" :title="title" />
      </div>
    </transition>
    <div class="content-wrapper">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    src() {
      if (!this.backgroundImage) return null;
      if (typeof this.backgroundImage === 'string' && this.backgroundImage.startsWith('@assets')) {
        const split = this.backgroundImage.split('/');
        return require(`!!assets-loader!@/assets/images/${split[split.length - 1]}`); // eslint-disable-line import/no-dynamic-require, global-require
      }
      return this.backgroundImage;
    },
  },
  props: {
    alt: String,
    backgroundImage: [Object, String],
    darkened: Boolean,
    smallPadding: Boolean,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.separator
  position: relative
  padding: 4.5rem 0
  color: white
  background-color: $textDarker

  &.no-bg,
  &.small-padding
    padding: 2rem 0

  .bg-wrapper
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    clip: rect(0, auto, auto, 0)
    overflow: hidden
    text-align: left

    // clip is deprecated so in browsers that support it we use clip-path
    @supports (clip-path: inset(0 0 0 0)) or (-webkit-clip-path: inset(0 0 0 0))
      clip: auto
      clip-path: inset(0 0 0 0)

    &.darkened::before
      background-color: rgba(17,17,17,0.7)

    &::before
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-color: rgba(34,34,34,0.5)
      z-index: 1

    &.v-enter-active,
    &.v-leave-active
      transition: opacity 270ms $base-easing

      &.v-enter,
      &.v-leave-to
        opacity: 0

    .fixed-bg,
    noscript >>> .fixed-bg
      position: fixed
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
      font-family: 'object-fit: cover;'
      transform: perspective(0px)
      pointer-events: none

  .content-wrapper
    position: relative
    z-index: 1
    max-width: $maxWidth
    margin: 0 auto

    .button
      &:focus,
      &:hover
        color: $text
        background-color: white

    >>> a:not(:hover)
      color: inherit
</style>
