<template lang="html">
  <a class="scroll-down-indicator" :href="`#${anchor}`">
    <FontAwesomeIcon class="icon" :icon="angleDown" />
  </a>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleDown as angleDown } from '@fortawesome/free-solid-svg-icons';

export default {
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      angleDown,
    };
  },
  props: {
    anchor: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/easings'

.scroll-down-indicator
  display: inline-block
  position: relative
  text-align: center
  width: 1.5rem
  margin: 0.5rem

  &:hover
    color: inherit

    &::before
      background-color: $greyLighter

  &::before
    content: ''
    display: block
    width: 1.5rem
    height: @width
    background-color: white
    border-radius: 2px
    transform: rotate(45deg)
    position: absolute
    transition: background-color 270ms $base-easing

  .icon
    position: relative
    z-index: 1
    animation: bounce 1.5s infinite both

    @keyframes bounce
      0%
        transform: none
      50%
        transform: translateY(0.5rem)
      100%
        transform: none
</style>
