<template lang="html">
  <section class="fullscreen-slider block" @touchstart="handleSwipeStart" @touchend="handleSwipeEnd">
    <ul>
      <li v-for="(image, index) in images" :class="{ active: currentPage === index }" :key="index">
        <g-image v-if="image" :alt="image.alt" :src="image.src" :title="image.title" />
      </li>
    </ul>
    <button v-if="images && images.length > 1" class="pagination-button left" type="button" @click="previousSlide(true)">
      <FontAwesomeIcon class="icon" :icon="icons.angleLeft" />
    </button>
    <button v-if="images && images.length > 1" class="pagination-button right" type="button" @click="nextSlide(true)">
      <FontAwesomeIcon class="icon" :icon="icons.angleRight" />
    </button>
    <!-- Images are zero-indexed, but the pagination starts at one, hence the mapping -->
    <StadlerPaginationBubbles v-if="images && images.length > 1" :current="currentPage + 1" :total="images.length" @click="handleManualPagination" />
    <StadlerScrollDownIndicator :anchor="scrollAnchor" />
    <div class="content">
      <h1 v-if="heading">{{heading}}</h1>
      <h2 v-if="subheading">{{subheading}}</h2>
      <div v-if="ctas && ctas.length > 0" class="ctas">
        <template v-for="(cta, index) in ctas">
          <g-link v-if="cta.href && cta.href.startsWith('/')" class="button" :key="index" :title="cta.title" :to="cta.href">{{cta.label}}</g-link>
          <a v-else-if="cta && cta.label && cta.href && cta.href.startsWith('#')" :key="index" class="button" :href="cta.href" :title="cta.title">{{cta.label}}</a>
          <a v-else-if="cta.href" class="button" :href="cta.href" :key="index" rel="nofollow noreferrer noopener" target="_blank" :title="cta.title">{{cta.label}}</a>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faAngleLeft as angleLeft, faAngleRight as angleRight } from '@fortawesome/free-solid-svg-icons';

export default {
  beforeDestroy() {
    window.clearInterval(this.advanceInterval);
  },
  components: {
    FontAwesomeIcon,
  },
  data() {
    return {
      advanceInterval: null,
      currentPage: 0,
      icons: {
        angleLeft,
        angleRight,
      },
      wasInteracted: false,
    };
  },
  methods: {
    handleManualPagination(page) {
      this.currentPage = page - 1;
      this.wasInteracted = true;
    },
    handleSwipeStart(e) {
      this.swipeStart = e.changedTouches[0].clientX;
    },
    handleSwipeEnd(e) {
      const distance = this.swipeStart - e.changedTouches[0].clientX;

      if (Math.abs(distance) > 50) {
        if (Math.sign(distance) === 1) this.nextSlide(true);
        else this.previousSlide(true);
      }
    },
    nextSlide(manual) {
      if (!this.images) return;
      if (this.currentPage + 1 < this.images.length) this.currentPage += 1;
      else this.currentPage = 0;
      if (manual && !this.wasInteracted) this.wasInteracted = true;
    },
    previousSlide(manual) {
      if (!this.images) return;
      if (this.currentPage - 1 >= 0) this.currentPage -= 1;
      else this.currentPage = this.images.length - 1;
      if (manual && !this.wasInteracted) this.wasInteracted = true;
    },
  },
  mounted() {
    this.advanceInterval = window.setInterval(this.nextSlide, 5000);
  },
  props: {
    heading: String,
    subheading: String,
    ctas: {
      type: Array,
      default: () => [],
    },
    images: {
      type: Array,
      default: () => [],
    },
    scrollAnchor: String,
  },
  watch: {
    wasInteracted(newVal) {
      if (newVal) window.clearInterval(this.advanceInterval);
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/easings'
@require '../assets/styles/spacing'

.fullscreen-slider
  display: flex
  justify-content: center
  align-items: center
  position: relative
  height: 100vh
  width: 100%
  margin-top: -5.5rem // push under nav
  background-color: $text
  overflow: hidden

  &:hover
    .pagination-button
      &.left,
      &.right
        transform: rotate(45deg)
        opacity: 1

  ul
    position: absolute
    top: 0
    left: @top
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    opacity: 0.4

    li
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      transition: opacity 700ms $base-easing

      &.active
        opacity: 1

      img,
      noscript >>> img
        width: 100%
        height: 100%
        object-fit: cover
        font-family: 'object-fit: cover;'

  .scroll-down-indicator
    position: absolute
    bottom: 1rem
    margin-left: 0
    margin-right: 0

  .pagination-bubbles
    position: absolute
    bottom: 4rem

  .scroll-down-indicator,
  .pagination-bubbles
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // IE Fix
      left: 50%
      transform: translateX(-50%)

  .pagination-button
    position: absolute
    border: none
    display: block
    width: 4rem
    height: @width
    background-color: white
    border-radius: 2px
    cursor: pointer
    opacity: 0
    transition: background-color 270ms $base-easing, opacity 270ms $base-easing, transform 270ms $base-easing

    @media $mobile
      display: none

    &:focus,
    &:hover
      outline: none
      background-color: $greyLighter

    &.left
      transform: translateX(-3rem) rotate(45deg)
      left: -2rem

      .icon
        margin-left: 1rem
        margin-bottom: 1rem

    &.right
      transform: translateX(3rem) rotate(45deg)
      right: -2rem

      .icon
        margin-right: 1rem
        margin-top: 1rem

    .icon
      transform: rotate(-45deg)

  .content
    position: relative
    z-index: 1
    text-align: center
    color: white
    max-width: $max-width
    padding: 0 1rem

    h1
      font-size: 3rem

      @media $mobile
        font-size: 2rem

    h1, h2
      text-shadow: 0 1px black

    a
      margin: 0.5rem

    // .ctas
    //   display: flex
    //   flex-wrap: wrap
    //
    //   > *
    //     flex-grow: 1
    //     flex-basis: calc(25% - 1rem)
    //
    //     @media $tablet
    //       flex-basis: calc(50% - 1rem)
    //
    //     @media $mobile
    //       flex-basis: calc(100% - 1rem)

</style>
