<template lang="html">
  <section class="contact block">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="columns">
      <div v-for="(column, key) in columns" class="column" :key="key">
        <div class="icon">
          <FontAwesomeIcon :icon="icons[`${key}Icon`]" />
        </div>
        <section v-if="key === 'address'">
          <h3>{{addressHeading}}</h3>
          <address v-html="address" />
        </section>
        <section v-else-if="key === 'email'">
          <h3>{{emailHeading}}</h3>
          <a :href="`mailto:${email}`">{{email.split('?')[0]}}</a>
        </section>
        <section v-else-if="key === 'phone'">
          <h3>{{phoneHeading}}</h3>
          <a :href="`tel:${phone.replace(/\(0\)|\s+/g, '')}`">{{phone}}</a>
        </section>
      </div>
    </div>
  </section>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import { faPhoneAlt as phoneIcon, faEnvelope as emailIcon, faMapMarkerAlt as addressIcon } from '@fortawesome/free-solid-svg-icons';

import { address, email, phone } from '@/data/commonStrings.json';
import { flattenLanguageProperties } from '@/assets/js/flattenLocalizedProperties';

export default {
  components: {
    FontAwesomeIcon,
  },
  computed: {
    columns() {
      const columns = {};

      if (this.address) columns.address = this.address;
      if (this.email) columns.email = this.email;
      if (this.phone) columns.phone = this.phone;

      return columns;
    },
  },
  data() {
    return {
      ...flattenLanguageProperties({ addressHeading: address, emailHeading: email, phoneHeading: phone }, this.lang),
      icons: {
        addressIcon,
        emailIcon,
        phoneIcon,
      },
    };
  },
  props: {
    address: String,
    email: String,
    heading: String,
    lang: {
      type: String,
      default: 'de',
    },
    phone: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.contact
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto

  h2
    text-align: center

  .columns
    .column
      display: flex
      align-items: flex-start
      justify-content: center

      @media $tablet
        padding: 0 1rem
        justify-content: flex-start

        &:not(:last-child)
          margin-bottom: 2rem

      .icon
        background-color: $text
        color: white
        width: 2.5rem
        height: @width
        border-radius: (@width / 2)rem
        padding: 0.75rem
        text-align: center
        line-height: 0
        margin-right: 1rem

      section
        margin-top: 0.5rem

        h3
          margin-bottom: 0.5rem
          font-size: 1rem

        address
          font-style: normal

        a
          text-decoration: none

</style>
