<template lang="html">
  <section class="text block" :class="{ highlighted }">
    <h2 v-if="heading">{{heading}}</h2>
    <div class="columns">
      <div v-for="(markup, index) in columns" v-html="markup" class="column" :key="index" />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    columns: Array,
    heading: String,
    highlighted: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'
@require '../assets/styles/spacing'

.text
  max-width: $maxWidth
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

  &.highlighted
    background-color: $red
    color: white
    font-weight: normal
    padding: 2rem
    max-width: ($maxWidth + 4rem)

    >>> a
      color: inherit

      &:hover,
      &:focus
        color: $greyLighter

  h2
    text-align: center
</style>
