<template lang="html">
  <StadlerSeparator :alt="backgroundImage && backgroundImage.alt" :background-image="backgroundImage && backgroundImage.src" class="icon-separator block" darkened :title="backgroundImage && backgroundImage.title">
    <ul class="icon-grid">
      <li v-for="(icon, index) in icons" :key="index">
        <ETLineIcon :key="icon.icon">{{icon.icon}}</ETLineIcon>
        <h3>{{icon.label}}</h3>
      </li>
    </ul>
  </StadlerSeparator>
</template>

<script>
import ETLineIcon from '@/components/ETLineIcon.vue';

export default {
  components: {
    ETLineIcon,
  },
  props: {
    icons: Array,
    backgroundImage: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.icon-separator
  >>> .content-wrapper
    @media $tablet
      padding: 0 1rem

  .icon-grid
    padding: 0
    margin: 0
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: center

    li
      text-align: center
      flex: 1 1 24rem
      margin: 1rem auto

      @media $tablet
        h3
          font-size: 1rem

      .et-icon
        margin: 0 auto
        margin-bottom: 1.5rem
</style>
