<template lang="html">
  <div class="main-wrapper">
    <StadlerBanner v-if="banner && banner.body" :body="banner.body" :image="banner.image" :visible="showBanner" @close="showBanner = false" />
    <StadlerNav />
    <div v-html="localizedWarning" class="nojs nojs-warning" />
    <transition appear mode="out-in" name="page" @after-enter="enableSmoothScroll" @before-enter="$root.$emit('triggerScroll')" @before-leave="disableSmoothScroll">
      <router-view :key="$route.path" />
    </transition>
    <StadlerFooter />
  </div>
</template>

<script>
import objectFitImages from 'object-fit-images';

import { nojsWarning } from '@/data/commonStrings.json';
import { flattenLanguagePropertyString } from '@/assets/js/flattenLocalizedProperties';

export default {
  computed: {
    banner() {
      const lang = this.$context.lang || this.$root.lang || 'en';
      const banners = this.$static.allBanner.edges.map((edge) => edge.node);

      if (banners.length === 0) return false;

      const unexpiredBanners = banners.filter((banner) => new Date(banner.expires).valueOf() > Date.now());

      if (unexpiredBanners.length === 0) return false;

      // banners are sorted by their expiration dates in ascending order, so the most recent relevant one will be the first unexpired one
      const mostRecentRelevantBanner = flattenLanguagePropertyString(unexpiredBanners[0], lang);

      return mostRecentRelevantBanner;
    },
    localizedWarning() {
      const lang = this.$context.lang || this.$root.lang;
      return nojsWarning[lang] || nojsWarning.en;
    },
  },
  data() {
    return {
      showBanner: false,
    };
  },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: 'viewport',
          name: 'viewport',
          content: 'width=device-width, initial-scale=1.0, user-scalable=yes',
        },
      ],
    };
  },
  methods: {
    disableSmoothScroll() {
      document.documentElement.style.scrollBehavior = 'auto';
    },
    enableSmoothScroll() {
      document.documentElement.style.removeProperty('scroll-behavior');
    },
  },
  mounted() {
    if ('scrollRestoration' in window.history) window.history.scrollRestoration = 'manual';
    this.showBanner = true; // only show banner if JS is enabled (so we make sure the right one gets shown and its not expired)
    objectFitImages(); // polyfill object-fit
  },
};
</script>

<static-query>
query {
  metadata {
    siteName,
  }
  allBanner(sortBy: "expires", order: ASC) {
    edges {
      node {
        image {
          src(quality: 99)
          alt { allLanguages }
          title { allLanguages }
        },
        body { allLanguages }
        expires
      }
    }
  }
}
</static-query>

<style lang="stylus" scoped>
@require './assets/styles/colors'
@require './assets/styles/easings'
@require './assets/styles/spacing'

.main-wrapper
  padding-top: 5.5rem // main nav height
  display: flex
  flex-direction: column
  min-height: 100vh

  > .page-enter-active,
  > .page-leave-active
    transition: opacity 270ms $base-easing

    &.page-enter,
    &.page-leave-to
      opacity: 0

  .nojs-warning
    background-color: $red
    color: white
    font-weight: normal
    padding: 2rem 1rem
    position: relative
    z-index: 1

    >>> p
      max-width: $maxTextWidth
      margin-left: auto
      margin-right: auto
      margin-bottom: 1.4rem
      font-size: 0.875rem

      &:last-child
        margin-bottom: 0

      a
        color: inherit

  .main-footer
    margin-top: auto
</style>
