@require './breakpoints'
@require './colors'
@require './easings'
@require './fonts'
@require './spacing'

*
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

::selection
  color: white
  background-color: black

html
  font-size: 16px // old design had it at 14px
  -webkit-font-smoothing: antialiased
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: grayscale
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  color: $text
  font-family: $font-body
  font-size: 1rem
  font-weight: 300
  line-height: 1.6
  hyphens: auto
  overflow-wrap: break-word
  word-wrap: break-word

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: 1.3em
  line-height: 1.4
  font-weight: 400
  font-family: $font-heading
  text-transform: uppercase
  letter-spacing: 0.3em

h1, .h1
  font-size: 2rem

h2, .h2
  font-size: 1.5rem
  margin-bottom: 3rem

h3, .h3
  font-size: 1.125rem

h4, .h4
  font-size: 1.125rem

h6, .h6
  font-weight: 700

p
  margin: 0 0 1.6rem 0 // line-height is 1.6 → needed so we can have an alignment between columns

  strong
    font-weight: bold

ul, ol
  margin-left: 1rem
  margin-bottom: 1.6rem // line-height is 1.6 → needed so we can have an alignment between columns
  padding: 0

  li > p
    margin: 0

ul
  list-style: disc
  padding-left: 1rem

blockquote
  margin: 3em 0 3em 0
  font-style: normal

blockquote p
  margin-bottom: 1rem
  font-size: 1.5rem
  font-weight: 300
  line-height: 1.6

blockquote
  footer,
  p:last-child:not(:first-child)
    font-size: 0.875rem
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2px
    color: $textLighter

    &::before
      content: '\2014 \00A0'

.block
  .columns,
  &.columns
    display: flex
    justify-content: space-around

    @media $tablet
      display: block

    .column
      width: 100%
      max-width: $maxTextWidth

      @media $tablet
        max-width: 32rem
        margin: 0 auto

      &:not(:last-child)
        margin-right: 2rem

        @media $tablet
          margin-right: auto

      &:only-child
        text-align: center

        @media $mobile
          text-align: left

      :first-child
        margin-top: 0

      > :last-child
        margin-bottom: 0

        @media $tablet
          margin-bottom: 1.6rem

.nojs // will only be shown if js is deactivated, can only be put on elements which would usually have "display: block"
  display: none

a
  color: $textDarker

  &:hover
    color: $textHover

  &.button
    padding: 0.5rem 2rem
    font-size: 0.875rem
    color: white // lowering the opacity to 0.8 makes the text really unreadable
    border-radius: 2px
    background-color: $red
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 2px
    display: inline-block
    text-align: center
    text-decoration: none
    vertical-align: middle
    cursor: pointer
    touch-action: manipulation
    white-space: nowrap
    user-select: none
    max-width: 100%
    text-overflow: ellipsis
    overflow: hidden
    transition: color 270ms $base-easing, background-color 270ms $base-easing

    &.light
      background-color: white
      color: black

    &:hover,
    &:focus
      color: white
      background-color: alpha(black, 0.7)
      outline: none
